<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Command-line interface for the 1Password password manager.</string>
	<key>Documentation</key>
	<string>https://support.1password.com/command-line/</string>
	<key>Keywords</key>
	<string>password manager, CLI, security, encryption</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://1password.com/privacy/</string>
	<key>Publisher</key>
	<string>AgileBits Inc.</string>
</dict>
</plist>
