<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Work is a comprehensive unified communications application that integrates a business softphone with visual voicemail, corporate directory, instant messaging, presence, video calling, fax, call recording, and web conferencing all in a standalone desktop application.</string>
	<key>Documentation</key>
	<string>https://support.8x8.com/</string>
	<key>Keywords</key>
	<string>Phone,Virtual Office,VoIP,Work</string>
	<key>Privacy</key>
	<string>https://www.8x8.com/terms-and-conditions/privacy-policy</string>
</dict>
</plist>
