<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>A Better Finder Attributes 7</string>
	<key>Category</key>
	<string>Utilities</string>
	<key>Description</key>
	<string>A Better Finder Attributes 7 is a macOS batch file attribute manager for changing file dates, editing metadata, modifying Finder flags, and more.</string>
	<key>Documentation</key>
	<string>https://www.publicspace.net/ABetterFinderAttributes/</string>
	<key>Homepage</key>
	<string>https://www.publicspace.net/ABetterFinderAttributes/</string>
	<key>Keywords</key>
	<string>file attributes,batch,metadata,finder,dates</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.publicspace.net/legal-privacy.html</string>
	<key>Publisher</key>
	<string>publicspace.net</string>
</dict>
</plist>
