<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Ableton Live 12 Lite is a music production software for macOS.</string>
	<key>Documentation</key>
	<string>https://www.ableton.com/en/manual/welcome-to-live/</string>
	<key>Keywords</key>
	<string>music production, software, Ableton Live, macOS</string>
	<key>Privacy</key>
	<string>https://www.ableton.com/en/legal/privacy-policy/</string>
	<key>Publisher</key>
	<string>Ableton</string>
</dict>
</plist>
