<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Acorn is a popular image editing software for macOS.</string>
	<key>Documentation</key>
	<string>https://flyingmeat.com/acorn/docs/</string>
	<key>Keywords</key>
	<string>image editing, macOS, graphics, design</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://flyingmeat.com/acorn/privacy/</string>
	<key>Publisher</key>
	<string>Flying Meat</string>
</dict>
</plist>
