<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Acronis Cyber Protect Connect Agent</string>
	<key>Description</key>
	<string>Acronis Cyber Protect Connect Agent is a software for macOS that provides agent-based file protection and cybersecurity management.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Acronis, Cyber Protect, Connect Agent, macOS, file protection, cybersecurity</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Acronis International GmbH</string>
</dict>
</plist>
