<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.adiumX.adiumX</string>
	<key>AppName</key>
	<string>Adium</string>
	<key>Description</key>
	<string>Open-source instant messaging client for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>instant messaging, macOS, open-source</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Adium</string>
</dict>
</plist>
