<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Adobe Acrobat Pro DC</string>
	<key>Description</key>
	<string>Adobe Acrobat Pro DC makes your job easier every day with the trusted PDF converter. Acrobat Pro is the complete PDF solution for working anywhere.</string>
	<key>Documentation</key>
	<string>https://helpx.adobe.com/acrobat/user-guide.html</string>
	<key>Keywords</key>
	<string>Acrobat,Adobe,PDF</string>
	<key>PackageID</key>
	<string>com.adobe.acrobat.DC.viewer.app.pkg.MUI</string>
	<key>Privacy</key>
	<string>https://www.adobe.com/privacy/policy.html</string>
	<key>Publisher</key>
	<string>Adobe Inc.</string>
</dict>
</plist>
