<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Adobe Connect is a suite of software for remote training, web conferencing, presentation, and desktop sharing.</string>
	<key>Documentation</key>
	<string>https://helpx.adobe.com/support/connect.html</string>
	<key>Keywords</key>
	<string>Connect,Presentation,Video Conferencing</string>
	<key>Privacy</key>
	<string>https://www.adobe.com/privacy.html</string>
	<key>Publisher</key>
	<string>Adobe Inc.</string>
</dict>
</plist>
