<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.seriflabs.affinitydesigner2</string>
	<key>AppName</key>
	<string>Affinity Designer 2</string>
	<key>Description</key>
	<string>Affinity Designer 2 is professional graphic design software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Graphic design, Vector graphics, Illustration, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Serif</string>
</dict>
</plist>
