<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Affinity</string>
	<key>Category</key>
	<string>Photos &amp; Media</string>
	<key>Description</key>
	<string>Affinity is a suite of professional creative applications for macOS from Serif, including Affinity Designer, Photo, and Publisher in one unified app.</string>
	<key>Documentation</key>
	<string>https://affinity.serif.com/en-us/learn/</string>
	<key>Homepage</key>
	<string>https://affinity.serif.com/</string>
	<key>Keywords</key>
	<string>Affinity,design,photo editing,publishing,creative suite</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://affinity.serif.com/en-us/privacy/</string>
	<key>Publisher</key>
	<string>Serif Europe Ltd.</string>
</dict>
</plist>
