<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>AltTab is a macOS application that enhances the user's ability to switch between open windows.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, application, window management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
</dict>
</plist>
