<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Amadeus Pro is a powerful audio editing software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>audio editing, macOS, software, Amadeus Pro</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>HairerSoft</string>
</dict>
</plist>
