<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Amazon Q</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Amazon Q is an AI assistant from Amazon Web Services designed to help developers build, transform, and understand applications using generative AI.</string>
	<key>Documentation</key>
	<string>https://docs.aws.amazon.com/amazonq/</string>
	<key>Homepage</key>
	<string>https://aws.amazon.com/q/developer/</string>
	<key>Keywords</key>
	<string>Amazon Q,AWS,AI,developer,assistant,code</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://aws.amazon.com/privacy/</string>
	<key>Publisher</key>
	<string>Amazon Web Services, Inc.</string>
</dict>
</plist>
