<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.apache.netbeans</string>
	<key>AppName</key>
	<string>Apache NetBeans</string>
	<key>Description</key>
	<string>An open-source integrated development environment for Java, JavaScript, PHP, HTML, and other programming languages.</string>
	<key>Documentation</key>
	<string>https://netbeans.apache.org/kb/index.html</string>
	<key>Homepage</key>
	<string>https://netbeans.apache.org/</string>
	<key>Keywords</key>
	<string>IDE, Java, JavaScript, PHP, HTML</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Apache Software Foundation</string>
</dict>
</plist>
