<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>San Francisco Pro is a professional software for macOS users.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, professional, software, San Francisco Pro</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Apple Inc.</string>
</dict>
</plist>
