<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>SF Symbols is a library of over 2,400 configurable symbols, available in multiple weights and scales.</string>
	<key>Documentation</key>
	<string>https://developer.apple.com/design/human-interface-guidelines/sf-symbols/overview/</string>
	<key>Keywords</key>
	<string>macOS, symbols, design, library</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Apple Inc.</string>
</dict>
</plist>
