<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Collection of new font styles for macOS from Apple curated for New York design inspiration.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, font, collection, design, Apple, New York</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Apple Inc.</string>
</dict>
</plist>
