<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>AppsAnywhere Client (macOS)</string>
	<key>Category</key>
	<string>Education</string>
	<key>Description</key>
	<string>AppsAnywhere is a software delivery platform for educational institutions enabling students and staff to access applications from any device.</string>
	<key>Documentation</key>
	<string>https://docs.appsanywhere.com/</string>
	<key>Homepage</key>
	<string>https://www.appsanywhere.com/</string>
	<key>Keywords</key>
	<string>AppsAnywhere,software delivery,education,virtual apps</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.appsanywhere.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>AppsAnywhere</string>
</dict>
</plist>
