<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>aquaskk is a software for macOS that enhances typing experience with a customizable virtual keyboard.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>typing, macOS, virtual keyboard</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>aquaskk</string>
</dict>
</plist>
