<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>MIDI Control Center</string>
	<key>Category</key>
	<string>Music &amp; Audio</string>
	<key>Description</key>
	<string>Arturia MIDI Control Center is a software application for configuring, managing, and updating Arturia hardware synthesizers and MIDI controllers.</string>
	<key>Documentation</key>
	<string>https://www.arturia.com/support/documentation</string>
	<key>Homepage</key>
	<string>https://www.arturia.com/products/software-apps/midi-control-center/overview</string>
	<key>Keywords</key>
	<string>Arturia,MIDI,synthesizer,controller,music hardware</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.arturia.com/privacy-policy</string>
	<key>Publisher</key>
	<string>Arturia SA</string>
</dict>
</plist>
