<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>IBM Aspera</string>
	<key>Category</key>
	<string>Business</string>
	<key>Description</key>
	<string>IBM Aspera is a high-speed file transfer technology for moving large data files in media, entertainment, and enterprise environments over any distance.</string>
	<key>Documentation</key>
	<string>https://www.ibm.com/docs/en/aspera-on-cloud</string>
	<key>Homepage</key>
	<string>https://www.ibm.com/products/aspera</string>
	<key>Keywords</key>
	<string>IBM Aspera,file transfer,high speed,enterprise,media</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.ibm.com/privacy</string>
	<key>Publisher</key>
	<string>IBM</string>
</dict>
</plist>
