<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>The Atlassian Companion app enables users to edit Confluence files in their preferred desktop application, then save the file back to Confluence automatically.</string>
	<key>Documentation</key>
	<string>https://confluence.atlassian.com/confeap/administering-the-atlassian-companion-app-960167403.html</string>
	<key>Keywords</key>
	<string>Atlassian,Confluence,agile,collaboration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.atlassian.com/legal/privacy-policy</string>
	<key>Publisher</key>
	<string>Atlassian</string>
</dict>
</plist>
