<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.lindegroup.AutoPkgr</string>
	<key>AppName</key>
	<string>AutoPkgr</string>
	<key>Description</key>
	<string>AutoPkgr is a macOS application that automates the download, packaging, and deployment of software updates.</string>
	<key>Documentation</key>
	<string>https://github.com/lindegroup/autopkgr</string>
	<key>Keywords</key>
	<string>macOS, automation, update management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>The Linde Group</string>
</dict>
</plist>
