<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>se.gu.it.AutoDMG</string>
	<key>AppName</key>
	<string>AutoDMG</string>
	<key>Description</key>
	<string>AutoDMG is a macOS application that creates deployable system images for Mac computers.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, deployment, system imaging, automation</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>AutoDMG</string>
</dict>
</plist>
