<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>AutoMounter</string>
	<key>Description</key>
	<string>AutoMounter is a macOS application that automatically mounts network shares.</string>
	<key>Documentation</key>
	<string>https://autmounter.app/docs</string>
	<key>Keywords</key>
	<string>macOS, network shares, automount, utility</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://autmounter.app/privacy-policy</string>
	<key>Publisher</key>
	<string>Pixeleyes Ltd.</string>
</dict>
</plist>
