<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.bearisdriving.BGM</string>
	<key>AppName</key>
	<string>BackgroundMusic</string>
	<key>Description</key>
	<string>Control the volume of different apps and background noise on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Homepage</key>
	<string>https://github.com/kyleneideck/BackgroundMusic</string>
	<key>Keywords</key>
	<string>macOS, background music, volume control, audio control</string>
	<key>PackageID</key>
	<string>com.bearisdriving.BGM</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Tynium</string>
</dict>
</plist>
