<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>BBEdit is a professional HTML and text editor for macOS.</string>
	<key>Documentation</key>
	<string>https://www.barebones.com/support/bbedit/current_notes.html</string>
	<key>Keywords</key>
	<string>macOS, text editor, HTML, developer tools</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Bare Bones Software</string>
</dict>
</plist>
