<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>BetterDisplay</string>
	<key>Description</key>
	<string>BetterDisplay is a user-friendly software for enhancing display settings.</string>
	<key>Documentation</key>
	<string>https://betterdisplaydocs.com</string>
	<key>Keywords</key>
	<string>display, software, settings, enhancement</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://betterdisplayprivacy.com</string>
	<key>Publisher</key>
	<string>BetterApp Inc</string>
</dict>
</plist>
