<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.bitwarden.desktop</string>
	<key>AppName</key>
	<string>Bitwarden</string>
	<key>Description</key>
	<string>Bitwarden is a free and open-source password management service that stores sensitive information such as website credentials in an encrypted vault.</string>
	<key>Documentation</key>
	<string>https://bitwarden.com/help</string>
	<key>Homepage</key>
	<string>https://bitwarden.com/</string>
	<key>Keywords</key>
	<string>Password,Safe,Security,Vault</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://bitwarden.com/privacy/</string>
	<key>Publisher</key>
	<string>8bit Solutions LLC</string>
</dict>
</plist>
