<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>audio.existential.BlackHole2ch</string>
	<key>AppName</key>
	<string>BlackHole2ch.driver</string>
	<key>Category</key>
	<string>Music &amp; Audio</string>
	<key>Description</key>
	<string>BlackHole is a free macOS audio loopback driver that passes audio between applications with zero additional latency. The 2-channel version provides a stereo audio channel.</string>
	<key>Documentation</key>
	<string>https://github.com/ExistentialAudio/BlackHole</string>
	<key>Homepage</key>
	<string>https://existential.audio/blackhole/</string>
	<key>Keywords</key>
	<string>BlackHole,audio,loopback,virtual audio,macOS driver</string>
	<key>PackageID</key>
	<string>audio.existential.BlackHole2ch</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Existential Audio Inc.</string>
</dict>
</plist>
