<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.blenderfoundation.blender.savedState</string>
	<key>AppName</key>
	<string>Blender</string>
	<key>Description</key>
	<string>Blender is the free and open source 3D creation suite. It supports the entirety of the 3D pipeline modeling, rigging, animation, simulation, rendering, compositing and motion tracking, even video editing and game creation.</string>
	<key>Documentation</key>
	<string>https://www.blender.org/support/</string>
	<key>Homepage</key>
	<string>https://www.blender.org/</string>
	<key>Keywords</key>
	<string>Editing,Utilities,Video</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.blender.org/privacy-policy/</string>
	<key>Publisher</key>
	<string>Blender Foundation</string>
</dict>
</plist>
