<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Boop is a customizable gesture-based tool for macOS.</string>
	<key>Documentation</key>
	<string>https://boop.okatbest.com/docs/</string>
	<key>Keywords</key>
	<string>macOS, tool, gestures, customizable</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://boop.okatbest.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>A Beautiful Code</string>
</dict>
</plist>
