<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.busymac.busycal3</string>
	<key>AppName</key>
	<string>BusyCal</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>BusyCal is a powerful calendar app for macOS that syncs with iCloud, Google, Exchange, and other calendar services, with robust features for power users.</string>
	<key>Documentation</key>
	<string>https://www.busymac.com/busycal/</string>
	<key>Homepage</key>
	<string>https://www.busymac.com/busycal/</string>
	<key>Keywords</key>
	<string>BusyCal,calendar,scheduling,iCloud,Google Calendar</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.busymac.com/privacy.html</string>
	<key>Publisher</key>
	<string>BusyMac LLC</string>
</dict>
</plist>
