<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.busymac.busycontacts.pkg</string>
	<key>AppName</key>
	<string>BusyContacts</string>
	<key>Description</key>
	<string>Contacts management software for Mac users.</string>
	<key>Documentation</key>
	<string></string>
	<key>Homepage</key>
	<string>https://www.busymac.com/busycontacts/index.html</string>
	<key>Keywords</key>
	<string>Contacts, Mac, Management, Address Book</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>BusyMac</string>
</dict>
</plist>
