<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Camtasia 2023</string>
	<key>Description</key>
	<string>Camtasia is a software suite, created and published by TechSmith, for creating video tutorials and presentations directly via screencast, or via a direct recording plug-in to Microsoft PowerPoint.</string>
	<key>Documentation</key>
	<string>https://support.techsmith.com/</string>
	<key>Keywords</key>
	<string>Camtasia,Recorder,Screen Recorder,Video</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.techsmith.com/privacy-policy.html</string>
	<key>Publisher</key>
	<string>TechSmith</string>
</dict>
</plist>
