<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.camunda.CamundaModeler</string>
	<key>AppName</key>
	<string>Camunda Modeler</string>
	<key>Description</key>
	<string>Camunda Modeler is a desktop application for modeling BPMN and DMN workflows.</string>
	<key>Documentation</key>
	<string>https://docs.camunda.org/manual/latest/modeler/</string>
	<key>Keywords</key>
	<string>BPMN, DMN, modeling, workflows</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Camunda</string>
</dict>
</plist>
