<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>cardpresso</string>
	<key>Category</key>
	<string>Business</string>
	<key>Description</key>
	<string>cardpresso is card design and printing software for creating ID cards, badges, membership cards, and loyalty cards with barcode and database connectivity.</string>
	<key>Documentation</key>
	<string>https://www.cardpresso.com/support/</string>
	<key>Homepage</key>
	<string>https://www.cardpresso.com/</string>
	<key>Keywords</key>
	<string>cardpresso,ID card,badge,card design,printing</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.cardpresso.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>cardpresso</string>
</dict>
</plist>
