<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>ChemDoodle3D</string>
	<key>Description</key>
	<string>ChemDoodle3D is a 3D modeling application for macOS tailored for chemists and educators.</string>
	<key>Documentation</key>
	<string>https://www.chemdoodle.com/documentation/</string>
	<key>Keywords</key>
	<string>Chemistry, 3D modeling, macOS, Chemists, Educators</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.chemdoodle.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>iChemLabs</string>
</dict>
</plist>
