<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.gx80</string>
	<key>AppName</key>
	<string>GX-80</string>
	<key>Description</key>
	<string>GX-80 is a transformative virtual synthesizer that combines the unparalleled sound and features of the fabled GX-1 “Dream Machine” and its renowned descendant the CS-80.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/gx-80-synthesizer</string>
	<key>Homepage</key>
	<string>https://cherryaudio.com</string>
	<key>Keywords</key>
	<string>music, plugin, transitions, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.GX-80Package-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
