<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Miniverse</string>
	<key>Description</key>
	<string>A powerful and user-friendly virtual world creation software for macOS users.</string>
	<key>Documentation</key>
	<string>https://miniverse.com/docs</string>
	<key>Keywords</key>
	<string>Virtual world, Creation, macOS, Software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.MiniversePackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://miniverse.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
