<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.CherryAudio.CherryAudioSync</string>
	<key>AppName</key>
	<string>Cherry Audio Sync</string>
	<key>Description</key>
	<string>Cherry Audio Sync is a macOS application for synchronizing data.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>music, virtual, synthesizer, plugin, synchronization, data, Cherry Audio Sync</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.SyncPackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
