<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Rackmode</string>
	<key>Description</key>
	<string>Rackmode is a macOS software for organizing and managing virtual server environments.</string>
	<key>Documentation</key>
	<string></string>
	<key>Homepage</key>
	<string>https://cherryaudio.com</string>
	<key>Keywords</key>
	<string>music, virtual, synthesizer, plugin, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.RackmodePackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
