<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.dreamsynth</string>
	<key>AppName</key>
	<string>Dreamsynth</string>
	<key>Description</key>
	<string>Dreamsynth is a powerful music synthesizer software for creating electronic music.</string>
	<key>Documentation</key>
	<string>https://dreamsynthdocs.com</string>
	<key>Keywords</key>
	<string>music, synthesizer, electronic, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.DreamsynthPackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://dreamsynthprivacy.com</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
