<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.atomika</string>
	<key>AppName</key>
	<string>Atomika</string>
	<key>Description</key>
	<string>Atomika is Cherry Audio's painstakingly crafted emulation of the Polivoks synthesizer manufactured at the Formanta Radio Factory between 1982 and 1990.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/atomika-synthesizer</string>
	<key>Homepage</key>
	<string>https://cherryaudio.com</string>
	<key>Keywords</key>
	<string>virtual, synthesizer, plugin, software, Atomika</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.AtomikaPackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
