<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.dco106</string>
	<key>AppName</key>
	<string>DCO-106</string>
	<key>Description</key>
	<string>DCO-106 lovingly recreates the unique sonic footprint of one the most iconic 80’s polysynths in exhaustive detail, while adding modern features for massively expanded creativity.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/dco-106-polyphonic-synthesizer</string>
	<key>Keywords</key>
	<string>virtual, synthesizer, plugin, software, DCO-106</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.DCO106Package-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
