<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.PS20</string>
	<key>AppName</key>
	<string>PS-20</string>
	<key>Description</key>
	<string>PS-20 is a cutting-edge software application for project management and collaboration.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/ps-20-synthesizer</string>
	<key>Homepage</key>
	<string>https://cherryaudio.com</string>
	<key>Keywords</key>
	<string>music, virtual, synthesizer, plugin, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.PS-20Package-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
