<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.polymode</string>
	<key>AppName</key>
	<string>Polymode Synthesizer</string>
	<key>Description</key>
	<string>Polymode Synthesizer is a versatile music production software with advanced synthesis capabilities.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/polymode-synthesizer</string>
	<key>Keywords</key>
	<string>music, synthesizer, production, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.PolymodePackage-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
