<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.cherryaudio.mercury6</string>
	<key>AppName</key>
	<string>Mercury-6</string>
	<key>Description</key>
	<string>Mercury-6 is a powerful software application for macOS that helps users manage their tasks efficiently.</string>
	<key>Documentation</key>
	<string>https://store.cherryaudio.com/bundles/mercury-6-synthesizer</string>
	<key>Homepage</key>
	<string>https://cherryaudio.com</string>
	<key>Keywords</key>
	<string>music, virtual, synthesizer, plugin, software</string>
	<key>PackageID</key>
	<string>com.cherryaudio.pkg.Mercury-6Package-StandAlone</string>
	<key>Privacy</key>
	<string>https://cherryaudio.com/privacy</string>
	<key>Publisher</key>
	<string>Cherry Audio</string>
</dict>
</plist>
