<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Cinema 4D is a leading 3D animation software for macOS.</string>
	<key>Documentation</key>
	<string>https://www.maxon.net/en/support/documentation/</string>
	<key>Keywords</key>
	<string>3D, animation, software, macOS</string>
	<key>Privacy</key>
	<string>https://www.maxon.net/en-gb/datenschutz/</string>
	<key>Publisher</key>
	<string>Maxon Computer</string>
</dict>
</plist>
