<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Citrix Workspace</string>
	<key>Description</key>
	<string>Citrix Workspace is a desktop virtualization software platform developed by Citrix Systems that allows multiple users to remotely access and operate Microsoft Windows desktops running in a datacenter or a public or private cloud, via devices located elsewhere.</string>
	<key>Documentation</key>
	<string>https://docs.citrix.com/</string>
	<key>Keywords</key>
	<string>Citrix,Citrix Workspace,Workspace</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.citrix.com/about/legal/privacy/</string>
	<key>Publisher</key>
	<string>Citrix Systems, Inc.</string>
</dict>
</plist>
