<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.cocoapods.CocoaPods</string>
	<key>AppName</key>
	<string>CocoaPods</string>
	<key>Description</key>
	<string>CocoaPods is a dependency manager for Swift and Objective-C Cocoa projects.</string>
	<key>Documentation</key>
	<string>https://guides.cocoapods.org/</string>
	<key>Keywords</key>
	<string>dependency manager, iOS, macOS, Swift, Objective-C</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>CocoaPods</string>
</dict>
</plist>
