<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.codemeter.codemetercc</string>
	<key>AppName</key>
	<string>CodeMeter</string>
	<key>Description</key>
	<string>CodeMeter is a software licensing and protection solution for macOS.</string>
	<key>Documentation</key>
	<string>https://www.wibu.com/support/user/user-software.html</string>
	<key>Keywords</key>
	<string>software, licensing, protection, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>WIBU-SYSTEMS AG</string>
</dict>
</plist>
