<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Kelvin</string>
	<key>Category</key>
	<string>Photos &amp; Media</string>
	<key>Description</key>
	<string>Kelvin is a white balance management tool by CreativeForce for maintaining consistent color in professional product photography workflows.</string>
	<key>Documentation</key>
	<string>https://www.creativeforce.io/</string>
	<key>Homepage</key>
	<string>https://www.creativeforce.io/</string>
	<key>Keywords</key>
	<string>Kelvin,CreativeForce,white balance,color,product photography</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.creativeforce.io/privacy</string>
	<key>Publisher</key>
	<string>CreativeForce</string>
</dict>
</plist>
