<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Cursor</string>
	<key>Description</key>
	<string>Cursor is an intelligent AI Code Editor that helps developers write, debug, and optimize code more efficiently.</string>
	<key>Documentation</key>
	<string>https://docs.cursor.com/</string>
	<key>Keywords</key>
	<string>AI,Code Editor,Cursor</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.cursor.com/privacy</string>
	<key>Publisher</key>
	<string>Cursor</string>
</dict>
</plist>
