<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>DCP-o-matic 2</string>
	<key>Category</key>
	<string>Video &amp; Screen Recording</string>
	<key>Description</key>
	<string>DCP-o-matic is a free, open-source tool for creating Digital Cinema Packages (DCP) from video, audio, and subtitle files for cinema projection.</string>
	<key>Documentation</key>
	<string>https://dcpomatic.com/manual/</string>
	<key>Homepage</key>
	<string>https://dcpomatic.com/</string>
	<key>Keywords</key>
	<string>DCP,digital cinema,DCP-o-matic,cinema package,video</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Carl Hetherington</string>
</dict>
</plist>
