<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>DeskPad</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>DeskPad is a macOS virtual monitor that creates a virtual screen for screen sharing, allowing you to share a controlled portion of your display.</string>
	<key>Documentation</key>
	<string>https://github.com/Stengo/DeskPad</string>
	<key>Homepage</key>
	<string>https://github.com/Stengo/DeskPad</string>
	<key>Keywords</key>
	<string>DeskPad,virtual monitor,screen sharing,display</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Stengo</string>
</dict>
</plist>
