<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Determinate</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Determinate is a managed Nix distribution and platform by Determinate Systems, providing reliable Nix installation and management for macOS.</string>
	<key>Documentation</key>
	<string>https://determinate.systems/posts/determinate-nix-installer</string>
	<key>Homepage</key>
	<string>https://determinate.systems/</string>
	<key>Keywords</key>
	<string>Determinate,Nix,package manager,macOS,developer</string>
	<key>PackageID</key>
	<string>systems.determinate.Determinate</string>
	<key>Privacy</key>
	<string>https://determinate.systems/privacy</string>
	<key>Publisher</key>
	<string>Determinate Systems, Inc.</string>
</dict>
</plist>
