<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>displaynote</string>
	<key>Description</key>
	<string>The DisplayNote App is a versatile tool designed to enhance collaboration and presentation experiences in classrooms and meeting rooms.</string>
	<key>Documentation</key>
	<string>https://support.displaynote.com/</string>
	<key>Keywords</key>
	<string>Classrooms,Collaboration,DisplayNote,Meetings,Presentation</string>
	<key>PackageID</key>
	<string>com.displaynote.DisplayNoteApp</string>
	<key>Privacy</key>
	<string>https://www.displaynote.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>DisplayNote Technologies Ltd</string>
</dict>
</plist>
