<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>DisplayLink Manager Graphics Connectivity software for macOS allows users to connect multiple displays to their computer for enhanced productivity.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>DisplayLink, Manager, Graphics, Connectivity, macOS</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>DisplayLink</string>
</dict>
</plist>
