<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.displaylink.DisplayLinkUserAgent</string>
	<key>AppName</key>
	<string>DisplayLink Manager</string>
	<key>Description</key>
	<string>DisplayLink is a semiconductor and software technology company. DisplayLink USB graphics technology is designed to connect computers and displays using USB, Ethernet, and WiFi. It also allows multiple displays to be connected to a single computer.</string>
	<key>Documentation</key>
	<string>https://support.displaylink.com/</string>
	<key>Keywords</key>
	<string>DisplayLink,USB graphics,display,video</string>
	<key>PackageID</key>
	<string>com.displaylink.displaylinkmanagerapp</string>
	<key>Privacy</key>
	<string>https://www.displaylink.com/legal/privacy</string>
	<key>Publisher</key>
	<string>DisplayLink</string>
</dict>
</plist>
