<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Dracoon</string>
	<key>Category</key>
	<string>Data Management</string>
	<key>Description</key>
	<string>Dracoon is a European cloud storage platform focused on data sovereignty, security, and compliance for enterprise file management.</string>
	<key>Documentation</key>
	<string>https://support.dracoon.com/</string>
	<key>Homepage</key>
	<string>https://www.dracoon.com/</string>
	<key>Keywords</key>
	<string>Dracoon,cloud storage,enterprise,security,compliance,GDPR</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.dracoon.com/en/privacy-notice</string>
	<key>Publisher</key>
	<string>Dracoon GmbH</string>
</dict>
</plist>
