<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Dragonframe 2024</string>
	<key>Category</key>
	<string>3D &amp; Animation</string>
	<key>Description</key>
	<string>Dragonframe is professional stop-motion animation software used by studios worldwide for frame-by-frame capture and production.</string>
	<key>Documentation</key>
	<string>https://www.dragonframe.com/downloads/#documentation</string>
	<key>Homepage</key>
	<string>https://www.dragonframe.com/</string>
	<key>Keywords</key>
	<string>Dragonframe,stop motion,animation,frame capture,production</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.dragonframe.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Dzed Systems LLC</string>
</dict>
</plist>
