<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.getdropbox.dropbox</string>
	<key>AppName</key>
	<string>Dropbox</string>
	<key>Description</key>
	<string>Dropbox is a file hosting service operated by the American company Dropbox, Inc., headquartered in San Francisco, California, that offers cloud storage, file synchronization, personal cloud, and client software.</string>
	<key>Documentation</key>
	<string>https://www.dropbox.com/developers/documentation</string>
	<key>Homepage</key>
	<string>https://www.dropbox.com/</string>
	<key>Keywords</key>
	<string>Dropbox,cloud,storage,synchronization</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.dropbox.com/privacy2016</string>
	<key>Publisher</key>
	<string>Dropbox</string>
</dict>
</plist>
