<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>DYMO Connect for Desktop software allows you to quickly create and print labels.</string>
	<key>Documentation</key>
	<string>http://download.dymo.com/dymo/user-guides/Software/DYMO_Connect/DYMOConnect_UserGuide.en.pdf</string>
	<key>Keywords</key>
	<string>DYMO,Label Printer</string>
	<key>Privacy</key>
	<string>https://privacy.newellbrands.com/index_en.html</string>
	<key>Publisher</key>
	<string>DYMO</string>
</dict>
</plist>
