<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Temurin 17</string>
	<key>Description</key>
	<string>Temurin 17 is a version of the Java Development Kit (JDK) for macOS operating systems.</string>
	<key>Documentation</key>
	<string>https://adoptopenjdk.net/releases.html</string>
	<key>Keywords</key>
	<string>Java, JDK, Temurin, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Eclipse Foundation</string>
</dict>
</plist>
