<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Temurin 11</string>
	<key>Description</key>
	<string>Temurin 11 is a distribution of the OpenJDK 11 that's supported by AdoptOpenJDK.</string>
	<key>Documentation</key>
	<string>https://adoptopenjdk.net/</string>
	<key>Homepage</key>
	<string>https://adoptium.net/</string>
	<key>Keywords</key>
	<string>Java, OpenJDK, Temurin, AdoptOpenJDK</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Eclipse Foundation</string>
</dict>
</plist>
