<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Egnyte Core is a secure file sharing and collaboration platform for macOS users.</string>
	<key>Documentation</key>
	<string>https://helpdesk.egnyte.com/hc/en-us</string>
	<key>Keywords</key>
	<string>file sharing, collaboration, macOS, secure</string>
	<key>Privacy</key>
	<string>https://www.egnyte.com/privacy-policy</string>
	<key>Publisher</key>
	<string>Egnyte, Inc.</string>
</dict>
</plist>
