<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Elgato Stream Deck allows users to customize the programmable LCD buttons on the Stream Deck, assigning specific actions or macros to streamline and control various functions in streaming, content creation, and other applications. The app supports integration with popular software, enabling users to easily manage scenes, control audio, launch applications, and perform other tasks with a single touch.</string>
	<key>Documentation</key>
	<string>https://help.elgato.com/</string>
	<key>Keywords</key>
	<string>Elgato,Stream Deck</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.elgato.com/us/en/s/privacy-policy</string>
	<key>Publisher</key>
	<string>Elgato</string>
</dict>
</plist>
