<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>in.sinew.Enpass-Desktop</string>
	<key>AppName</key>
	<string>Enpass</string>
	<key>Category</key>
	<string>Security &amp; Privacy</string>
	<key>Description</key>
	<string>Enpass is an offline-first password manager that stores encrypted data locally, with optional sync to your preferred cloud service for cross-device access.</string>
	<key>Documentation</key>
	<string>https://www.enpass.io/docs/</string>
	<key>Homepage</key>
	<string>https://www.enpass.io/</string>
	<key>Keywords</key>
	<string>Enpass,password manager,security,encryption,offline</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.enpass.io/privacy-policy/</string>
	<key>Publisher</key>
	<string>Sinew Software Systems Pvt. Ltd.</string>
</dict>
</plist>
