<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Ente Auth is a secure authentication tool for macOS systems.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, authentication, security</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Ente Auth</string>
</dict>
</plist>
