<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.EPOSConnect.app</string>
	<key>AppName</key>
	<string>EPOS Connect</string>
	<key>Description</key>
	<string>Software for managing EPOS systems remotely</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>EPOS, Connect, Remote Management, Software</string>
	<key>PackageID</key>
	<string>com.DSEA.pkg.DSEASDKM1</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>EPOS</string>
</dict>
</plist>
