<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Escrow Buddy</string>
	<key>Description</key>
	<string>Escrow Buddy is a secure escrow software for macOS users.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>escrow, software, macOS, secure</string>
	<key>PackageID</key>
	<string>com.netflix.Escrow-Buddy</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>EscrowBuddy Software Development</string>
</dict>
</plist>
