<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Secure browser for macOS used for high-stakes exams and assessments.</string>
	<key>Documentation</key>
	<string>https://www.ets.org/tools/ets_secure_browser</string>
	<key>Keywords</key>
	<string>ETS, Secure Browser, macOS, high-stakes exams</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.ets.org/legal/privacy-policy</string>
	<key>Publisher</key>
	<string>Educational Testing Service</string>
</dict>
</plist>
