<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Messenger for macOS is a chat application for sending messages and making video calls.</string>
	<key>Documentation</key>
	<string>https://www.messenger.com</string>
	<key>Keywords</key>
	<string>Chat, Messaging, Video Calls, Communication</string>
	<key>Privacy</key>
	<string>https://www.messenger.com/about/privacy/</string>
	<key>Publisher</key>
	<string>Facebook</string>
</dict>
</plist>
