<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>FastScripts is a utility for macOS that provides keyboard shortcuts to help you run scripts and automate tasks.</string>
	<key>Documentation</key>
	<string>https://red-sweater.com/fastscripts/</string>
	<key>Keywords</key>
	<string>macOS, utility, keyboard shortcuts, scripts, automation</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://red-sweater.com/fastscripts/privacy/</string>
	<key>Publisher</key>
	<string>Red Sweater Software</string>
</dict>
</plist>
