<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>FFmpeg</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>FFmpeg is a leading multimedia framework for decoding, encoding, transcoding, and streaming audio and video. This build is maintained by Martin Riedl for macOS.</string>
	<key>Documentation</key>
	<string>https://ffmpeg.martin-riedl.de/</string>
	<key>Homepage</key>
	<string>https://ffmpeg.martin-riedl.de/</string>
	<key>Keywords</key>
	<string>FFmpeg,video,audio,encoding,transcoding,multimedia</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Martin Riedl</string>
</dict>
</plist>
