<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.apple.pkg.FCPContent</string>
	<key>AppName</key>
	<string>FCPContent</string>
	<key>Category</key>
	<string>Video &amp; Screen Recording</string>
	<key>Description</key>
	<string>Final Cut Pro Content provides additional templates, titles, transitions, and generators for video production in Final Cut Pro.</string>
	<key>Documentation</key>
	<string>https://support.apple.com/final-cut-pro</string>
	<key>Homepage</key>
	<string>https://support.apple.com/en-us/106574</string>
	<key>Keywords</key>
	<string>Final Cut Pro,content,templates,Apple,video production</string>
	<key>PackageID</key>
	<string>com.apple.pkg.FCPContent</string>
	<key>Privacy</key>
	<string>https://www.apple.com/privacy/</string>
	<key>Publisher</key>
	<string>Apple Inc.</string>
</dict>
</plist>
