<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.mozilla.firefox</string>
	<key>AppName</key>
	<string>Firefox</string>
	<key>Description</key>
	<string>Mozilla Firefox ESR is meant for organizations that manage their client desktops, including schools, businesses and other institutions that want to offer Firefox. Users who want to get the latest features, performance enhancements and technologies in their browsing experience should download Firefox for personal use, as these improvements will only be available to ESR users several development cycles after being made available in Firefox for desktop. If you’re using Firefox for personal use, you can download Firefox from mozilla.org/firefox.</string>
	<key>Documentation</key>
	<string>https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide</string>
	<key>Keywords</key>
	<string>Firefox,Mozilla Firefox,browser,web,web browser</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.mozilla.org/en-US/privacy/</string>
	<key>Publisher</key>
	<string>Mozilla Corporation</string>
</dict>
</plist>
