<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Firefox is a popular web browser developed by Mozilla.</string>
	<key>Documentation</key>
	<string>https://developer.mozilla.org/en-US/docs/Mozilla/Firefox</string>
	<key>Keywords</key>
	<string>browser, open-source, internet, web, Mozilla</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.mozilla.org/en-US/privacy/firefox/</string>
	<key>Publisher</key>
	<string>Mozilla Corporation</string>
</dict>
</plist>
