<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.dominiklevitsky.fontbase</string>
	<key>AppName</key>
	<string>FontBase</string>
	<key>Description</key>
	<string>FontBase is a font manager and viewer for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>font manager, viewer, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Dominik Levitsky Studio</string>
</dict>
</plist>
