<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>FontAgent</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>FontAgent is a professional font manager for macOS that enables designers and creative teams to organize, activate, and preview fonts.</string>
	<key>Documentation</key>
	<string>https://www.insidersoftware.com/font-agent/help/</string>
	<key>Homepage</key>
	<string>https://www.insidersoftware.com/font-agent/</string>
	<key>Keywords</key>
	<string>FontAgent,font management,typography,design,fonts</string>
	<key>PackageID</key>
	<string>com.insidersoftware.fontagent10.pkg</string>
	<key>Privacy</key>
	<string>https://www.insidersoftware.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Insider Software, Inc.</string>
</dict>
</plist>
