<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>GatherV2</string>
	<key>Category</key>
	<string>Collaboration &amp; Social</string>
	<key>Description</key>
	<string>Gather is a virtual space for online collaboration creating customizable 2D virtual offices where remote teams can meet, socialize, and work together.</string>
	<key>Documentation</key>
	<string>https://support.gather.town/</string>
	<key>Homepage</key>
	<string>https://www.gather.town/</string>
	<key>Keywords</key>
	<string>Gather,virtual office,remote work,collaboration,2D,metaverse</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.gather.town/privacy-policy</string>
	<key>Publisher</key>
	<string>Gather Presence, Inc.</string>
</dict>
</plist>
