<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Geneious Prime is a powerful bioinformatics software for macOS.</string>
	<key>Documentation</key>
	<string>https://www.geneious.com/documentation/</string>
	<key>Keywords</key>
	<string>bioinformatics, software, macOS, Geneious Prime</string>
	<key>Privacy</key>
	<string>https://www.geneious.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Geneious Prime</string>
</dict>
</plist>
