<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Gephi is an open-source software for network visualization and analysis. It helps data analysts to intuitively reveal patterns and trends, highlight outliers and tells stories with their data. It uses a 3D render engine to display large graphs in real-time and to speed up the exploration.</string>
	<key>Documentation</key>
	<string>https://gephi.org/</string>
	<key>Keywords</key>
	<string>Data Visualization,Graphing</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://gephi.org/legal/privacy/</string>
	<key>Publisher</key>
	<string>Gephi</string>
</dict>
</plist>
