<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.mitchellh.ghostty</string>
	<key>AppName</key>
	<string>Ghostty</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Ghostty is a fast, feature-rich, and native macOS terminal emulator using platform-native UI and a GPU-accelerated renderer for a high-performance terminal experience.</string>
	<key>Documentation</key>
	<string>https://ghostty.org/docs</string>
	<key>Homepage</key>
	<string>https://ghostty.org/</string>
	<key>Keywords</key>
	<string>Ghostty,terminal,terminal emulator,GPU,macOS,shell</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Mitchell Hashimoto</string>
</dict>
</plist>
