<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.GeorgSeifert.Glyphs3</string>
	<key>AppName</key>
	<string>Glyphs 3</string>
	<key>Description</key>
	<string>Glyphs 3 is a professional font design software for macOS.</string>
	<key>Documentation</key>
	<string>https://glyphsapp.com/documentation</string>
	<key>Keywords</key>
	<string>font, design, macOS, Typography</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://glyphsapp.com/privacy</string>
	<key>Publisher</key>
	<string>Glyphs Team</string>
</dict>
</plist>
