<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>GoLang</string>
	<key>Description</key>
	<string>Go (also called Golang or Go Language) is an open source programming language used for general purpose. Go was developed by Google engineers to create dependable and efficient software. Most similarly modeled after C, Go is statically typed and explicit.</string>
	<key>Documentation</key>
	<string>https://go.dev/doc</string>
	<key>Keywords</key>
	<string>Go,Language,Programming</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://proxy.golang.org/privacy</string>
	<key>Publisher</key>
	<string>Google</string>
</dict>
</plist>
