<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.google.WebDesigner</string>
	<key>AppName</key>
	<string>Google Web Designer</string>
	<key>Category</key>
	<string>3D &amp; Animation</string>
	<key>Description</key>
	<string>Google Web Designer is a free professional tool for creating interactive HTML5-based animations and interactive elements using a visual interface.</string>
	<key>Documentation</key>
	<string>https://support.google.com/webdesigner/</string>
	<key>Homepage</key>
	<string>https://webdesigner.withgoogle.com/</string>
	<key>Keywords</key>
	<string>Google Web Designer,HTML5,animation,interactive,web design</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://policies.google.com/privacy</string>
	<key>Publisher</key>
	<string>Google LLC</string>
</dict>
</plist>
