<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Install Google Software Update</string>
	<key>Description</key>
	<string>Utility tool for keeping Google software up-to-date on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, Google, software update, utility</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Google LLC</string>
</dict>
</plist>
