<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.google.Chrome</string>
	<key>AppName</key>
	<string>Google Chrome</string>
	<key>Description</key>
	<string>Google Chrome is a cross-platform web browser developed by Google. It was first released in 2008 for Microsoft Windows, and was later ported to Linux, macOS, iOS, and Android. The browser is also the main component of Chrome OS, where it serves as the platform for web apps.</string>
	<key>Documentation</key>
	<string>https://support.google.com/chrome</string>
	<key>Keywords</key>
	<string>Browser,Chrome,Google Chrome,Web Browser</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.google.com/chrome/privacy/</string>
	<key>Publisher</key>
	<string>Google LLC</string>
</dict>
</plist>
