<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>GPG Sync is a tool for syncing GPG keys on macOS devices.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>GPG, Sync, macOS, encryption</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>First Look Media</string>
</dict>
</plist>
