<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>GrandPerspective</string>
	<key>Description</key>
	<string>Disk usage utility that helps visualize disk space usage on macOS.</string>
	<key>Documentation</key>
	<string>https://grandperspectiv.sourceforge.io/</string>
	<key>Keywords</key>
	<string>macOS, disk usage, visualization, storage, utility</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://grandperspectiv.sourceforge.io/privacy.html</string>
	<key>Publisher</key>
	<string>Erwin Bonsma</string>
</dict>
</plist>
