<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>GraphicConverter 10</string>
	<key>Description</key>
	<string>GraphicConverter 10 is a powerful image editing software for macOS with support for over 200 file formats.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Image editing, macOS, GraphicConverter, Software, Graphic design</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Lemke Software</string>
</dict>
</plist>
