<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Groove Omnidialer Enterprise Edition is a comprehensive calling solution for businesses.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>calling, enterprise, solution</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Groove Networks</string>
</dict>
</plist>
