<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Harmony SASE is a secure access service edge software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Harmony, SASE, macOS, secure access, edge software</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Cato Networks</string>
</dict>
</plist>
