<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Hazel</string>
	<key>Description</key>
	<string>Hazel is a personal automation for macOS that keeps your files organized.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, automation, organization</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Noodlesoft</string>
</dict>
</plist>
