<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>A free, fast, and beautiful API request builder</string>
	<key>Documentation</key>
	<string>https://hoppscotch.io/docs/</string>
	<key>Keywords</key>
	<string>API, Request Builder, Development, Testing</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://hoppscotch.io/privacy</string>
	<key>Publisher</key>
	<string>Hoppscotch</string>
</dict>
</plist>
