<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Horos</string>
	<key>Description</key>
	<string>Horos is an open-source medical image viewer for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>medical, image viewer, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Purview</string>
</dict>
</plist>
