<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.netsoft.Hubstaff</string>
	<key>AppName</key>
	<string>Hubstaff</string>
	<key>Description</key>
	<string>Time tracking and productivity software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>time tracking, productivity, macOS, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Hubstaff</string>
</dict>
</plist>
