<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Ice</string>
	<key>Description</key>
	<string>Ice is a modern C++ middleware framework.</string>
	<key>Documentation</key>
	<string>https://doc.zeroc.com/display/Ice37/Ice+Manual</string>
	<key>Keywords</key>
	<string>C++, middleware, framework</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>MacHouse</string>
</dict>
</plist>
