<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Interactive Genomics Viewer (IGV) is a high-performance visualization tool for interactive exploration of large, integrated biological datasets.</string>
	<key>Documentation</key>
	<string>https://software.broadinstitute.org/software/igv/</string>
	<key>Keywords</key>
	<string>Genomics, Visualization, Bioinformatics, Data Analysis</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Broad Institute</string>
</dict>
</plist>
