<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>IINA</string>
	<key>Description</key>
	<string>Modern media player for macOS with a clean and intuitive interface.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, media player, IINA, video player</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>IINA</string>
</dict>
</plist>
