<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.digidna.iMazing3</string>
	<key>AppName</key>
	<string>iMazing</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>iMazing is a powerful iOS device management solution for Mac and PC enabling users to transfer and backup data from iPhones and iPads with precision.</string>
	<key>Documentation</key>
	<string>https://imazing.com/guides</string>
	<key>Homepage</key>
	<string>https://imazing.com/</string>
	<key>Keywords</key>
	<string>iMazing,iOS,iPhone,iPad,backup,device management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://imazing.com/privacy-policy</string>
	<key>Publisher</key>
	<string>DigiDNA SARL</string>
</dict>
</plist>
