<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Manage and create profiles for iMazing config editor on macOS</string>
	<key>Documentation</key>
	<string>https://imazing.com/profile-editor</string>
	<key>Keywords</key>
	<string>Profile, Editor, macOS, Configure, Manage</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://imazing.com/privacy-policy</string>
	<key>Publisher</key>
	<string>DigiDNA SARL</string>
</dict>
</plist>
