<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>nu.hennig.InstallomatorMate</string>
	<key>AppName</key>
	<string>InstallomatorMate</string>
	<key>Description</key>
	<string>A tool for managing and customizing Installomator scripts.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Installomator, scripting, automation, management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
</dict>
</plist>
