<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>macOS InstantView</string>
	<key>Category</key>
	<string>Utilities</string>
	<key>Description</key>
	<string>macOS InstantView is a display utility by Silicon Motion that enables USB-based external display connections and dock adapter functionality on macOS.</string>
	<key>Documentation</key>
	<string>https://www.siliconmotion.com/downloads/</string>
	<key>Homepage</key>
	<string>https://www.siliconmotion.com/</string>
	<key>Keywords</key>
	<string>InstantView,Silicon Motion,USB display,display adapter,dock</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.siliconmotion.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Silicon Motion Technology Corporation</string>
</dict>
</plist>
