<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.gilburns.Intune-Profile-Converter</string>
	<key>AppName</key>
	<string>Intune Profile Converter</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>Intune Profile Converter takes Apple .mobileconfig configuration profiles and converts them into formats that Microsoft Intune can consume directly.</string>
	<key>Documentation</key>
	<string>https://github.com/gilburns/Intune-Profile-Converter/wiki</string>
	<key>Homepage</key>
	<string>https://github.com/gilburns/Intune-Profile-Converter</string>
	<key>Keywords</key>
	<string>Intune,MDM,administration,mobileconfig,configuration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Gil Burns</string>
</dict>
</plist>
