<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Real-time interactive media manipulation software for live performance and installation art.</string>
	<key>Documentation</key>
	<string>https://support.troikatronix.com/support/solutions/articles/13000034497-isadora-learn-and-explore</string>
	<key>Keywords</key>
	<string>media, live performance, installation art</string>
	<key>Privacy</key>
	<string>https://support.troikatronix.com/support/solutions/articles/13000034497-isadora-learn-and-explore</string>
	<key>Publisher</key>
	<string>TroikaTronix</string>
</dict>
</plist>
