<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.googlecode.iterm2</string>
	<key>AppName</key>
	<string>iTerm</string>
	<key>Description</key>
	<string>iTerm is a terminal emulator for macOS.</string>
	<key>Documentation</key>
	<string>https://www.iterm2.com/documentation.html</string>
	<key>Homepage</key>
	<string>https://iterm2.com/</string>
	<key>Keywords</key>
	<string>Terminal, Emulator, macOS, iTerm</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>iTerm</string>
</dict>
</plist>
