<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.jamf.connect.login</string>
	<key>AppName</key>
	<string>Jamf Connect Login</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>Jamf Connect Login is a cloud-identity solution for macOS that integrates with your identity provider to synchronize passwords and manage authentication at login.</string>
	<key>Documentation</key>
	<string>https://docs.jamf.com/jamf-connect/</string>
	<key>Homepage</key>
	<string>https://www.jamf.com/products/jamf-connect/</string>
	<key>Keywords</key>
	<string>Jamf Connect,macOS login,IdP,identity,authentication,MDM</string>
	<key>PackageID</key>
	<string>com.jamf.connect.login</string>
	<key>Privacy</key>
	<string>https://www.jamf.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Jamf</string>
</dict>
</plist>
