<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Setup Manager</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>Jamf Setup Manager is an open-source tool for managing and automating the macOS setup experience during device enrollment and provisioning.</string>
	<key>Documentation</key>
	<string>https://github.com/jamf/Setup-Manager</string>
	<key>Homepage</key>
	<string>https://github.com/jamf/Setup-Manager</string>
	<key>Keywords</key>
	<string>Jamf,Setup Manager,enrollment,provisioning,macOS,MDM</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.jamf.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Jamf</string>
</dict>
</plist>
