<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Java SE Development Kit 17 is the official development kit for Java programming language version 17.</string>
	<key>Documentation</key>
	<string>https://openjdk.java.net/projects/jdk/17/</string>
	<key>Keywords</key>
	<string>Java, programming, development kit, JDK, version 17</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Oracle Corporation</string>
</dict>
</plist>
