<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>JetBrains Rider is a powerful, cross-platform Integrated Development Environment (IDE) designed for .NET developers. It supports a wide range of .NET technologies, including .NET Core, .NET Framework, Mono, and game development frameworks like Unity.</string>
	<key>Documentation</key>
	<string>https://www.jetbrains.com/support/</string>
	<key>Keywords</key>
	<string>.NET,IDE,JetBrains,Rider</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.jetbrains.com/privacy-security/</string>
	<key>Publisher</key>
	<string>JetBrains</string>
</dict>
</plist>
