<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>IntelliJ IDEA is an integrated development environment (IDE) written in Java for developing computer software written in Java, Kotlin, Groovy, and other JVM-based languages.</string>
	<key>Documentation</key>
	<string>https://www.jetbrains.com/support/</string>
	<key>Keywords</key>
	<string>IDE,IntelliJ,Java,JetBrains</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.jetbrains.com/privacy-security/</string>
	<key>Publisher</key>
	<string>JetBrains</string>
</dict>
</plist>
