<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Java Runtime Environment 8</string>
	<key>Description</key>
	<string>Java Runtime Environment 8 for macOS enables running Java applications on Mac computers.</string>
	<key>Documentation</key>
	<string>https://www.oracle.com/java/technologies/javase-jre8-doc-download.html</string>
	<key>Keywords</key>
	<string>Java, Runtime, Environment, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Oracle Corporation</string>
</dict>
</plist>
