<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.jumpcloud.pwm.desktop.live</string>
	<key>AppName</key>
	<string>JumpCloud Password Manager</string>
	<key>Description</key>
	<string>JumpCloud Password Manager is a secure password management tool for macOS users.</string>
	<key>Documentation</key>
	<string>https://www.jumpcloud.com/docs/password-management</string>
	<key>Keywords</key>
	<string>Password manager, macOS, security, JumpCloud</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.jumpcloud.com/legal/privacy-policy</string>
	<key>Publisher</key>
	<string>JumpCloud</string>
</dict>
</plist>
