<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.p5sys.jump.mac.viewer.web</string>
	<key>AppName</key>
	<string>Jump Desktop</string>
	<key>Description</key>
	<string>Remote desktop application for macOS</string>
	<key>Documentation</key>
	<string>https://jumpdesktop.com/user-guide/</string>
	<key>Keywords</key>
	<string>Remote, Desktop, macOS, Application</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://jumpdesktop.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>PhaseFive Systems</string>
</dict>
</plist>
