<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.wulkano.kap</string>
	<key>AppName</key>
	<string>Kap</string>
	<key>Description</key>
	<string>Video recording and screen capturing software for macOS</string>
	<key>Documentation</key>
	<string>https://getkap.co/docs/</string>
	<key>Homepage</key>
	<string>https://getkap.co/</string>
	<key>Keywords</key>
	<string>video, recording, screen capture, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://getkap.co/privacy/</string>
	<key>Publisher</key>
	<string>Kap</string>
</dict>
</plist>
