<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Keeper Password Manager</string>
	<key>Description</key>
	<string>Keeper Password Manager is a secure solution for storing and managing passwords on macOS.</string>
	<key>Documentation</key>
	<string>https://keepersecurity.com/docs/</string>
	<key>Keywords</key>
	<string>password manager, security, macOS, encryption</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://keepersecurity.com/privacy_policy</string>
	<key>Publisher</key>
	<string>Keeper Security, Inc.</string>
</dict>
</plist>
