<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>LaTeXiT is a macOS app for creating LaTeX equations and graphics in other applications.</string>
	<key>Documentation</key>
	<string>https://pierre.chachatelier.fr/latexit/latexit-home.php</string>
	<key>Keywords</key>
	<string>macOS, LaTeX, equations, graphics</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Pierre Chatelier</string>
</dict>
</plist>
