<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>LaunchControl is a powerful launchd(8) frontend for macOS.</string>
	<key>Documentation</key>
	<string>https://www.soma-zone.com/LaunchControl/</string>
	<key>Keywords</key>
	<string>macOS, launchd, frontend, automation</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Soma-Zone</string>
</dict>
</plist>
