<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>LG Calibration Studio is a software for calibrating LG monitors and displays on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>LG, Calibration, Studio, macOS, monitor, display</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>LG Electronics</string>
</dict>
</plist>
