<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>LibreOffice Language Pack</string>
	<key>Description</key>
	<string>Language pack for LibreOffice on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>LibreOffice, language pack, macOS</string>
	<key>PackageID</key>
	<string>org.libreoffice.script.langpack</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>The Document Foundation</string>
</dict>
</plist>
