<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>lghub</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>Logi G HUB is a software platform for Logitech G gaming peripherals enabling users to customize lighting, set macros, and configure device settings.</string>
	<key>Documentation</key>
	<string>https://support.logi.com/hc/en-us</string>
	<key>Homepage</key>
	<string>https://www.logitechg.com/en-us/innovation/g-hub.html</string>
	<key>Keywords</key>
	<string>Logi G HUB,Logitech,gaming,peripherals,RGB,macros</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.logitech.com/en-us/legal/privacy-policy.html</string>
	<key>Publisher</key>
	<string>Logitech</string>
</dict>
</plist>
