<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>logioptionsplus</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>Logi Options+ is the customization software for Logitech productivity mice and keyboards, enabling button remapping, gestures, and application-specific settings.</string>
	<key>Documentation</key>
	<string>https://support.logi.com/hc/en-us</string>
	<key>Homepage</key>
	<string>https://www.logitech.com/en-us/software/logi-options-plus.html</string>
	<key>Keywords</key>
	<string>Logi Options+,Logitech,mouse,keyboard,customization,productivity</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.logitech.com/en-us/legal/privacy-policy.html</string>
	<key>Publisher</key>
	<string>Logitech</string>
</dict>
</plist>
