<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Loopcloud</string>
	<key>Description</key>
	<string>Loopcloud is a cloud-based sample library and music production platform for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>music, production, samples, cloud, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Loopmasters</string>
</dict>
</plist>
