<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>no.mifi.losslesscut</string>
	<key>AppName</key>
	<string>LosslessCut</string>
	<key>Category</key>
	<string>Video &amp; Screen Recording</string>
	<key>Description</key>
	<string>LosslessCut is a fast and simple tool for lossless video and audio editing, allowing you to trim, cut, and merge media files without re-encoding.</string>
	<key>Documentation</key>
	<string>https://github.com/mifi/lossless-cut</string>
	<key>Homepage</key>
	<string>https://github.com/mifi/lossless-cut</string>
	<key>Keywords</key>
	<string>LosslessCut,video editor,trim,cut,lossless,ffmpeg</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Mikael Finstad</string>
</dict>
</plist>
