<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>MacPorts is a package management tool for macOS.</string>
	<key>Documentation</key>
	<string>https://guide.macports.org/ or </string>
	<key>Keywords</key>
	<string>macOS, package management, ports, software</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>The MacPorts Project</string>
</dict>
</plist>
