<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.tug.mactex.gui2024</string>
	<key>AppName</key>
	<string>MacTeX</string>
	<key>Description</key>
	<string>MacTeX is a full TeX distribution for macOS.</string>
	<key>Documentation</key>
	<string>https://www.tug.org/mactex/doc.html</string>
	<key>Homepage</key>
	<string>https://www.tug.org/mactex/</string>
	<key>Keywords</key>
	<string>TeX, LaTeX, typesetting, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>TeX Users Group</string>
</dict>
</plist>
