<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>MacVector/MacVector</string>
	<key>Category</key>
	<string>Science &amp; Research</string>
	<key>Description</key>
	<string>MacVector is a comprehensive DNA and protein sequence analysis software for molecular biologists, providing tools for primer design, alignment, and genome analysis.</string>
	<key>Documentation</key>
	<string>https://macvector.com/downloads/documentation.html</string>
	<key>Homepage</key>
	<string>https://macvector.com/</string>
	<key>Keywords</key>
	<string>MacVector,DNA,bioinformatics,sequence analysis,molecular biology,primer design</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://macvector.com/privacy/</string>
	<key>Publisher</key>
	<string>MacVector, Inc.</string>
</dict>
</plist>
