<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>MAMP</string>
	<key>Description</key>
	<string>MAMP is a free local server environment that allows you to run web applications on macOS.</string>
	<key>Documentation</key>
	<string>https://documentation.mamp.info/</string>
	<key>Keywords</key>
	<string>MAMP, local server, macOS, web development</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>appsolute GmbH</string>
</dict>
</plist>
