<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Managed App Schema Builder</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Managed App Schema Builder is an open-source tool for macOS administrators to create managed preference schemas for macOS application deployment.</string>
	<key>Documentation</key>
	<string>https://github.com/BIG-RAT/Managed-App-Schema-Builder</string>
	<key>Homepage</key>
	<string>https://github.com/BIG-RAT/Managed-App-Schema-Builder</string>
	<key>Keywords</key>
	<string>Managed App Schema,macOS admin,MDM,preference schema,configuration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>BIG-RAT</string>
</dict>
</plist>
