<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Mattermost</string>
	<key>Description</key>
	<string>Mattermost is a secure collaboration platform for connecting your teams, tools and processes to accelerate mission-critical work.</string>
	<key>Documentation</key>
	<string>https://mattermost.com/support/</string>
	<key>Keywords</key>
	<string>Chat,Collaboration,Mattermost,Orchestration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://mattermost.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Mattermost</string>
</dict>
</plist>
