<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>MAXQDA24</string>
	<key>Category</key>
	<string>Education</string>
	<key>Description</key>
	<string>MAXQDA is a professional software for qualitative and mixed methods research, enabling analysis of text, audio, video, and survey data.</string>
	<key>Documentation</key>
	<string>https://www.maxqda.com/help-mx24</string>
	<key>Homepage</key>
	<string>https://www.maxqda.com/</string>
	<key>Keywords</key>
	<string>MAXQDA,qualitative research,data analysis,mixed methods,survey</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.maxqda.com/privacy-policy</string>
	<key>Publisher</key>
	<string>VERBI Software</string>
</dict>
</plist>
