<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.microsoft.VSCode</string>
	<key>AppName</key>
	<string>Visual Studio Code</string>
	<key>Description</key>
	<string>Visual Studio Code is a lightweight but powerful source code editor for macOS.</string>
	<key>Documentation</key>
	<string>https://code.visualstudio.com/docs</string>
	<key>Keywords</key>
	<string>Code editor, macOS, Source code, Lightweight</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Microsoft Corporation</string>
</dict>
</plist>
