<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>OneDrive is a file hosting and synchronization service provided by Microsoft.</string>
	<key>Documentation</key>
	<string>https://support.microsoft.com/en-us/onedrive</string>
	<key>Keywords</key>
	<string>Microsoft, OneDrive, file hosting, synchronization</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://privacy.microsoft.com/en-us/privacystatement</string>
	<key>Publisher</key>
	<string>Microsoft Corporation</string>
</dict>
</plist>
