<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.azuredatastudio.oss</string>
	<key>AppName</key>
	<string>Azure Data Studio</string>
	<key>Description</key>
	<string>Azure Data Studio is a cross-platform database tool for data professionals using the Microsoft family of on-premises and cloud data platforms on Windows, MacOS, and Linux.</string>
	<key>Documentation</key>
	<string>https://github.com/Microsoft/azuredatastudio</string>
	<key>Homepage</key>
	<string>https://docs.microsoft.com/en-us/sql/azure-data-studio/</string>
	<key>Keywords</key>
	<string>Azure,Database,SQL</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://privacy.microsoft.com/en-us/privacystatement</string>
	<key>Publisher</key>
	<string>Microsoft Corporation</string>
</dict>
</plist>
