<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Skype for Business is a communication tool for macOS users.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>communication, macOS, chat, video-conferencing</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Microsoft Corporation</string>
</dict>
</plist>
