<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.mojang.minecraftpe.edu</string>
	<key>AppName</key>
	<string>minecraft-edu</string>
	<key>Category</key>
	<string>Education</string>
	<key>Description</key>
	<string>Minecraft Education is a game-based learning platform promoting creativity, collaboration, and problem-solving for students and educators.</string>
	<key>Documentation</key>
	<string>https://education.minecraft.net/en-us/resources/</string>
	<key>Homepage</key>
	<string>https://education.minecraft.net/</string>
	<key>Keywords</key>
	<string>Minecraft Education,education,learning,game-based,creativity</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://privacy.microsoft.com/</string>
	<key>Publisher</key>
	<string>Microsoft Corporation</string>
</dict>
</plist>
