<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.mobirise.Mobirise</string>
	<key>AppName</key>
	<string>mobirise</string>
	<key>Description</key>
	<string>Free website builder software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Homepage</key>
	<string>https://mobirise.com/</string>
	<key>Keywords</key>
	<string>website builder, macOS, mobirise</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Mobirise</string>
</dict>
</plist>
