<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>MobiKin Assistant for Android is a professional Android data management tool.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Android, data management, backup, restore</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>MobiKin</string>
</dict>
</plist>
