<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>TN5250 is a terminal emulation software for accessing IBM AS/400 systems on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>TN5250, terminal emulation, macOS, AS/400</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>MochaSoft</string>
</dict>
</plist>
