<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>montereyblocker</string>
	<key>Description</key>
	<string>A software tool for blocking macOS Monterey update notifications.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, monterey, blocker, notifications</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
</dict>
</plist>
