<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>co.mural.macOS</string>
	<key>AppName</key>
	<string>Mural</string>
	<key>Description</key>
	<string>Mural is a digital workspace for visual collaboration.</string>
	<key>Documentation</key>
	<string>https://support.mural.co/en/</string>
	<key>Homepage</key>
	<string>https://mural.co/</string>
	<key>Keywords</key>
	<string>digital workspace, collaboration, macOS, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.mural.co/legal/privacy-policy</string>
	<key>Publisher</key>
	<string>MURAL</string>
</dict>
</plist>
