<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Namirial Sign is a digital signature solution for secure document signing.</string>
	<key>Documentation</key>
	<string>https://www.namirial.com/products/digital-signature-api/</string>
	<key>Keywords</key>
	<string>digital signature, document signing, secure, Namirial, API</string>
	<key>Privacy</key>
	<string>https://www.namirial.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Namirial</string>
</dict>
</plist>
