<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>NDI Access Manager</string>
	<key>Category</key>
	<string>Video &amp; Screen Recording</string>
	<key>Description</key>
	<string>NDI Tools is a collection of free applications for working with NDI (Network Device Interface) video, enabling IP-based video production workflows.</string>
	<key>Documentation</key>
	<string>https://ndi.video/tools/</string>
	<key>Homepage</key>
	<string>https://ndi.video/tools/</string>
	<key>Keywords</key>
	<string>NDI,NDI Tools,video,IP video,production,Vizrt</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://ndi.video/privacy/</string>
	<key>Publisher</key>
	<string>Vizrt Group</string>
</dict>
</plist>
