<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.ranchero.NetNewsWire-Evergreen</string>
	<key>AppName</key>
	<string>NetNewsWire</string>
	<key>Description</key>
	<string>NetNewsWire is a free and open-source RSS reader for macOS and iOS devices.</string>
	<key>Documentation</key>
	<string>https://github.com/Ranchero-Software/NetNewsWire</string>
	<key>Keywords</key>
	<string>RSS, reader, macOS, iOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Brent Simmons</string>
</dict>
</plist>
