<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.</string>
	<key>Documentation</key>
	<string>https://nodejs.org/en/docs/</string>
	<key>Keywords</key>
	<string>JavaScript, runtime, server-side, macOS</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Node.js Foundation</string>
</dict>
</plist>
