<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.trusourcelabs.NoMAD</string>
	<key>AppName</key>
	<string>NoMAD</string>
	<key>Description</key>
	<string>NoMAD is a macOS application that simplifies Active Directory user authentication and management.</string>
	<key>Documentation</key>
	<string>https://nomad.menu/docs/</string>
	<key>Keywords</key>
	<string>macOS, Active Directory, authentication, user management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://nomad.menu/privacy-policy/</string>
	<key>Publisher</key>
	<string>NoMAD</string>
</dict>
</plist>
