<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>NoMAD Login</string>
	<key>Description</key>
	<string>NoMAD Login is a macOS utility for managing Active Directory logins and user accounts.</string>
	<key>Documentation</key>
	<string>https://nomad.menu/docs/</string>
	<key>Keywords</key>
	<string>macOS, Active Directory, login, user accounts</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>NoMAD</string>
</dict>
</plist>
