<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.nikolaeu.numi</string>
	<key>AppName</key>
	<string>Numi</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>Numi is a calculator application for macOS that combines natural language processing with calculations, making complex computations intuitive and simple.</string>
	<key>Documentation</key>
	<string>https://numi.app/</string>
	<key>Homepage</key>
	<string>https://numi.app/</string>
	<key>Keywords</key>
	<string>Numi,calculator,natural language,math,productivity,macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://numi.app/privacy.html</string>
	<key>Publisher</key>
	<string>Nikolai Lazarev</string>
</dict>
</plist>
