<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>iOS Camera for OBS Studio</string>
	<key>Category</key>
	<string>Media Players</string>
	<key>Description</key>
	<string>iOS Camera for OBS Studio is a plugin that enables using an iPhone or iPad as a high-quality USB webcam source directly in OBS Studio.</string>
	<key>Documentation</key>
	<string>https://obs.camera/docs/getting-started/ios-camera-plugin-usb/</string>
	<key>Homepage</key>
	<string>https://obs.camera/</string>
	<key>Keywords</key>
	<string>OBS,iOS camera,webcam,iPhone,iPad,streaming</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://obs.camera/privacy-policy/</string>
	<key>Publisher</key>
	<string>obs.camera</string>
</dict>
</plist>
