<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Okta Verify is a multi-factor authentication app for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Okta, Verify, macOS, authentication, multi-factor</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Okta, Inc.</string>
</dict>
</plist>
