<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>OmniGraffle is a powerful diagramming and graphic design software for macOS and iOS.</string>
	<key>Documentation</key>
	<string>https://support.omnigroup.com/documentation/omnigraffle/</string>
	<key>Keywords</key>
	<string>diagram, graphic design, macOS, iOS</string>
	<key>Privacy</key>
	<string>https://www.omnigroup.com/privacy/</string>
	<key>Publisher</key>
	<string>The Omni Group</string>
</dict>
</plist>
