<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.omnigroup.OmniPresence</string>
	<key>AppName</key>
	<string>OmniPresence</string>
	<key>Description</key>
	<string>File synchronization solution for macOS devices.</string>
	<key>Documentation</key>
	<string>https://www.omnigroup.com/omnipresence/</string>
	<key>Keywords</key>
	<string>file sync, macOS, data backup, cloud storage</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.omnigroup.com/privacy/</string>
	<key>Publisher</key>
	<string>The Omni Group</string>
</dict>
</plist>
