<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>OmniFocus</string>
	<key>Description</key>
	<string>OmniFocus is a task management application for macOS.</string>
	<key>Documentation</key>
	<string>https://www.omnigroup.com/omnifocus/</string>
	<key>Keywords</key>
	<string>task management, macOS, productivity</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.omnigroup.com/privacy/</string>
	<key>Publisher</key>
	<string>The Omni Group</string>
</dict>
</plist>
