<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.omnigroup.OmniGraffle6</string>
	<key>AppName</key>
	<string>OmniGraffle</string>
	<key>Description</key>
	<string>OmniGraffle is a diagramming and graphic design application for macOS.</string>
	<key>Documentation</key>
	<string>https://www.omnigroup.com/omnigraffle</string>
	<key>Keywords</key>
	<string>diagramming, graphic design, macOS, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.omnigroup.com/privacy/</string>
	<key>Publisher</key>
	<string>The Omni Group</string>
</dict>
</plist>
