<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Omnissa Horizon Client</string>
	<key>Category</key>
	<string>Computer Management</string>
	<key>Description</key>
	<string>Omnissa Horizon Client allows users to connect to virtual desktops and published applications in their corporate network from macOS devices.</string>
	<key>Documentation</key>
	<string>https://docs.omnissa.com/bundle/HorizonClientUserGuideMac/</string>
	<key>Homepage</key>
	<string>https://www.omnissa.com/horizon/</string>
	<key>Keywords</key>
	<string>Omnissa Horizon,VDI,virtual desktop,remote desktop,enterprise</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.omnissa.com/trust/privacy/</string>
	<key>Publisher</key>
	<string>Omnissa, LLC</string>
</dict>
</plist>
