<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>asc.onlyoffice.ONLYOFFICE</string>
	<key>AppName</key>
	<string>ONLYOFFICE</string>
	<key>Description</key>
	<string>ONLYOFFICE is an office suite software for macOS.</string>
	<key>Documentation</key>
	<string>https://helpcenter.onlyoffice.com/desktop/mac/index.aspx</string>
	<key>Keywords</key>
	<string>office suite, macOS, document editing, collaboration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.onlyoffice.com/privacy.aspx</string>
	<key>Publisher</key>
	<string>Ascensio System SIA</string>
</dict>
</plist>
