<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.titanium.OnyX</string>
	<key>AppName</key>
	<string>OnyX</string>
	<key>Description</key>
	<string>OnyX is a multifunctional maintenance and optimization tool for macOS.</string>
	<key>Documentation</key>
	<string>https://www.titanium-software.fr/en/onyx.html</string>
	<key>Homepage</key>
	<string>https://www.titanium-software.fr/en/onyx.html</string>
	<key>Keywords</key>
	<string>macOS, maintenance, optimization, utility</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Titanium Software</string>
</dict>
</plist>
