<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>OrcaSlicer</string>
	<key>Description</key>
	<string>OrcaSlicer is a powerful tool for 3D printing enthusiasts to prepare, slice, and print their models with ease.</string>
	<key>Documentation</key>
	<string>https://orcaslicer.com/docs</string>
	<key>Keywords</key>
	<string>3D printing, slicing, modeling, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://orcaslicer.com/privacy-policy</string>
	<key>Publisher</key>
	<string>OrcaSlicer</string>
</dict>
</plist>
