<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>patchomator</string>
	<key>Description</key>
	<string>Patchomator is a software tool for managing and applying patches on macOS systems.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, patch management, software tool</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
</dict>
</plist>
