<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Phoenix Code</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Phoenix Code is an open-source, lightweight code editor designed for web development, inspired by Adobe Brackets with modern improvements.</string>
	<key>Documentation</key>
	<string>https://docs.phcode.io/</string>
	<key>Homepage</key>
	<string>https://phcode.io/</string>
	<key>Keywords</key>
	<string>Phoenix Code,code editor,web development,open source,HTML,CSS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://phcode.io/privacy</string>
	<key>Publisher</key>
	<string>Phcode.io</string>
</dict>
</plist>
