<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>io.macadmins.Pique</string>
	<key>AppName</key>
	<string>Pique</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>Pique is a macOS tool for querying and managing Privacy Preferences Policy Control (PPPC) configuration for macOS applications and services.</string>
	<key>Documentation</key>
	<string>https://github.com/macadmins/pique</string>
	<key>Homepage</key>
	<string>https://github.com/macadmins/pique</string>
	<key>Keywords</key>
	<string>Pique,PPPC,privacy,TCC,macOS admin,permissions</string>
	<key>PackageID</key>
	<string>io.macadmins.Pique</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Mac Admins</string>
</dict>
</plist>
