<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>tv.plex.Plex</string>
	<key>AppName</key>
	<string>Plex</string>
	<key>Category</key>
	<string>Media Players</string>
	<key>Description</key>
	<string>Plex is a media server and streaming application that organizes your personal collection of videos, music, and photos making them available anywhere.</string>
	<key>Documentation</key>
	<string>https://support.plex.tv/</string>
	<key>Homepage</key>
	<string>https://www.plex.tv/</string>
	<key>Keywords</key>
	<string>Plex,media server,streaming,movies,music,photos,HTPC</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.plex.tv/about/privacy-legal/</string>
	<key>Publisher</key>
	<string>Plex, Inc.</string>
</dict>
</plist>
