<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>PlistEdit Pro is a macOS application for viewing and editing property list files.</string>
	<key>Documentation</key>
	<string>https://www.fatcatsoftware.com/plisteditpro/</string>
	<key>Keywords</key>
	<string>macOS, plist, editor</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Fat Cat Software</string>
</dict>
</plist>
