<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.electron.popsql</string>
	<key>AppName</key>
	<string>PopSQL</string>
	<key>Description</key>
	<string>PopSQL is a collaborative SQL editor for macOS.</string>
	<key>Documentation</key>
	<string>https://popsql.com/docs</string>
	<key>Keywords</key>
	<string>SQL, editor, macOS, collaboration</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://popsql.com/privacy</string>
	<key>Publisher</key>
	<string>PopSQL</string>
</dict>
</plist>
