<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Porting Kit is an application that helps users to easily install and play Windows games on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Windows games, macOS, application, installation</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>portingkit.com</string>
</dict>
</plist>
