<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>PPPC Utility</string>
	<key>Category</key>
	<string>Utilities</string>
	<key>Description</key>
	<string>PPPC Utility is an open-source macOS application by Jamf for creating configuration profiles that configure Privacy Preferences Policy Control (PPPC) settings.</string>
	<key>Documentation</key>
	<string>https://github.com/jamf/PPPC-Utility</string>
	<key>Homepage</key>
	<string>https://github.com/jamf/PPPC-Utility</string>
	<key>Keywords</key>
	<string>PPPC Utility,Jamf,TCC,privacy,configuration profile,MDM</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.jamf.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Jamf</string>
</dict>
</plist>
