<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Praat</string>
	<key>Category</key>
	<string>Science &amp; Research</string>
	<key>Description</key>
	<string>Praat is free scientific software for the analysis of speech, widely used in phonetics research for acoustic analysis and phonetic measurements.</string>
	<key>Documentation</key>
	<string>https://www.fon.hum.uva.nl/praat/manual/</string>
	<key>Homepage</key>
	<string>https://www.praat.org/</string>
	<key>Keywords</key>
	<string>Praat,phonetics,speech analysis,acoustics,linguistics</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Paul Boersma and David Weenink</string>
</dict>
</plist>
