<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>corp.sap.privileges.pkg</string>
	<key>AppName</key>
	<string>Privileges</string>
	<key>Description</key>
	<string>Privileges software provides secure access control management for sensitive information.</string>
	<key>Documentation</key>
	<string>https://privilegesoftware.com/docs</string>
	<key>Homepage</key>
	<string>https://github.com/SAP/macOS-enterprise-privileges</string>
	<key>Keywords</key>
	<string>access control, security, authorization, management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://privilegesoftware.com/privacy-policy</string>
	<key>Publisher</key>
	<string>com.sudo.is</string>
</dict>
</plist>
