<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>org.processing.app</string>
	<key>AppName</key>
	<string>Processing</string>
	<key>Description</key>
	<string>Processing is an open-source programming language and environment for macOS.</string>
	<key>Documentation</key>
	<string>https://processing.org/reference/</string>
	<key>Keywords</key>
	<string>programming, graphics, visualization</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Processing Foundation</string>
</dict>
</plist>
