<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Proton Drive</string>
	<key>Category</key>
	<string>Data Management</string>
	<key>Description</key>
	<string>Proton Drive is an end-to-end encrypted cloud storage service by Proton that ensures your files are protected with zero-knowledge encryption.</string>
	<key>Documentation</key>
	<string>https://proton.me/support/drive</string>
	<key>Homepage</key>
	<string>https://proton.me/drive</string>
	<key>Keywords</key>
	<string>Proton Drive,cloud storage,encrypted,privacy,end-to-end encryption</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://proton.me/legal/privacy</string>
	<key>Publisher</key>
	<string>Proton AG</string>
</dict>
</plist>
