<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.jamf.pse.prune</string>
	<key>AppName</key>
	<string>Prune</string>
	<key>Description</key>
	<string>Prune is a software tool for optimizing and cleaning up data sets.</string>
	<key>Documentation</key>
	<string>https://prunedocs.example.com</string>
	<key>Keywords</key>
	<string>Data, Optimization, Cleaning, Software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://prunepolicy.example.com</string>
	<key>Publisher</key>
	<string>Joel McDonald</string>
</dict>
</plist>
