<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.figure53.QLab.5</string>
	<key>AppName</key>
	<string>QLab</string>
	<key>Description</key>
	<string>Live show control for entertainment professions</string>
	<key>Documentation</key>
	<string>https://qlab.app/docs/</string>
	<key>Homepage</key>
	<string>https://qlab.app/</string>
	<key>Keywords</key>
	<string>live show, control, entertainment, professional</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://qlab.app/privacy/</string>
	<key>Publisher</key>
	<string>Figure 53</string>
</dict>
</plist>
