<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Raindrop.io</string>
	<key>Description</key>
	<string>Raindrop.io is a bookmark manager for macOS that helps you organize and save online content.</string>
	<key>Documentation</key>
	<string>https://help.raindrop.io/</string>
	<key>Keywords</key>
	<string>bookmark, manager, macOS, organize, save, online content</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://raindrop.io/privacy</string>
	<key>Publisher</key>
	<string>Raindrop.io</string>
</dict>
</plist>
