<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>io.rancherdesktop.app</string>
	<key>AppName</key>
	<string>Rancher Desktop</string>
	<key>Description</key>
	<string>Rancher Desktop is a tool that enables you to run Kubernetes clusters on your local machine.</string>
	<key>Documentation</key>
	<string>https://rancherdesktop.io/</string>
	<key>Homepage</key>
	<string>https://rancherdesktop.io/</string>
	<key>Keywords</key>
	<string>Kubernetes, clusters, macOS, local machine</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Rancher Labs</string>
</dict>
</plist>
