<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>RapidAPI</string>
	<key>Description</key>
	<string>RapidAPI is a platform that allows developers to discover, test, and connect to APIs.</string>
	<key>Documentation</key>
	<string>https://docs.rapidapi.com/</string>
	<key>Keywords</key>
	<string>API, integration, development, software, platform</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://rapidapi.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>RapidAPI</string>
</dict>
</plist>
