<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>RawTherapee</string>
	<key>Description</key>
	<string>RawTherapee is a powerful cross-platform raw image processing software.</string>
	<key>Documentation</key>
	<string>https://rawpedia.rawtherapee.com/Main_Page</string>
	<key>Keywords</key>
	<string>photo editing, raw image processing, macOS, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>RawTherapee</string>
</dict>
</plist>
