<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>On-Demand-Assist is a software tool for macOS that provides real-time assistance and support.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, on-demand, assist, support, tool</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>RealVNC Ltd.</string>
</dict>
</plist>
