<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Redshift is a fast, fully managed data warehouse that makes it simple and cost-effective to analyze all your data using standard SQL.</string>
	<key>Documentation</key>
	<string>https://aws.amazon.com/documentation/redshift/</string>
	<key>Keywords</key>
	<string>data warehouse, analytics, SQL, AWS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://aws.amazon.com/privacy/</string>
	<key>Publisher</key>
	<string>Amazon Web Services, Inc.</string>
</dict>
</plist>
