<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Redshift is a tool for adjusting the color temperature of your screen according to your surroundings.</string>
	<key>Documentation</key>
	<string>https://jonls.dk/redshift/</string>
	<key>Keywords</key>
	<string>redshift, color temperature, screen adjustment, macOS</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Redshift</string>
</dict>
</plist>
