<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Renew-NoAgent is a software designed to help automate the renewal process without the need for an agent.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Renew, Automation, Software, Agent, Renewal</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Renew-NoAgent</string>
</dict>
</plist>
