<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Renew is a macOS software for automating license renewal tasks.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, Renew, license renewal, automation</string>
	<key>Privacy</key>
	<string></string>
</dict>
</plist>
