<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>RODE Connect is a software application for macOS that enables seamless communication between devices.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>RODE Connect, software, macOS, communication</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>RãDE Microphones</string>
</dict>
</plist>
