<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.rode.rodeunify</string>
	<key>AppName</key>
	<string>RODE UNIFY</string>
	<key>Description</key>
	<string>RODE UNIFY is a macOS software for seamless collaboration and unified communication.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, software, collaboration, communication</string>
	<key>PackageID</key>
	<string>com.rodecentral.installer</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Universal Audio</string>
</dict>
</plist>
