<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.rogueamoeba.Loopback</string>
	<key>AppName</key>
	<string>Loopback</string>
	<key>Description</key>
	<string>Loopback is a powerful audio routing application for macOS.</string>
	<key>Documentation</key>
	<string>https://rogueamoeba.com/loopback/</string>
	<key>Keywords</key>
	<string>audio, routing, software, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://rogueamoeba.com/company/privacy/</string>
	<key>Publisher</key>
	<string>Rogue Amoeba</string>
</dict>
</plist>
