<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>SoundSource</string>
	<key>Description</key>
	<string>Sound control for Mac</string>
	<key>Documentation</key>
	<string>https://rogueamoeba.com/soundsource/</string>
	<key>Keywords</key>
	<string>sound, control, Mac</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://rogueamoeba.com/privacy/</string>
	<key>Publisher</key>
	<string>Rogue Amoeba</string>
</dict>
</plist>
