<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Fission</string>
	<key>Description</key>
	<string>Fission is an open-source framework for serverless functions on Kubernetes.</string>
	<key>Documentation</key>
	<string>https://docs.fission.io</string>
	<key>Keywords</key>
	<string>serverless, functions, Kubernetes</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Rogue Amoeba</string>
</dict>
</plist>
