<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Salesforce CLI</string>
	<key>Description</key>
	<string>Salesforce CLI is a command-line interface for interacting with Salesforce services.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Salesforce, CLI, macOS, command-line, interface</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Salesforce</string>
</dict>
</plist>
