<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>ScaleFT</string>
	<key>Description</key>
	<string>ScaleFT provides Zero Trust security solutions for privileged access management.</string>
	<key>Documentation</key>
	<string>https://www.scaleft.com/docs/</string>
	<key>Keywords</key>
	<string>Zero Trust, security, privileged access management</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.scaleft.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>ScaleFT</string>
</dict>
</plist>
