<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.araeliumgroup.screenflick</string>
	<key>AppName</key>
	<string>Screenflick</string>
	<key>Description</key>
	<string>Screenflick is a powerful screen recording application for macOS.</string>
	<key>Documentation</key>
	<string>https://www.araelium.com/screenflick/</string>
	<key>Keywords</key>
	<string>screen recording, macOS, capture, video, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.araelium.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Araelium Group</string>
</dict>
</plist>
