<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Secretive is a secure information management software.</string>
	<key>Documentation</key>
	<string>https://www.secretive.com/docs</string>
	<key>Keywords</key>
	<string>security, encryption, privacy, data management</string>
	<key>Privacy</key>
	<string>https://www.secretive.com/privacy-policy</string>
	<key>Publisher</key>
	<string>TopSecret Inc.</string>
</dict>
</plist>
