<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>SelfControl is a macOS app that helps users block distracting websites to improve productivity.</string>
	<key>Documentation</key>
	<string>https://selfcontrolapp.com/</string>
	<key>Keywords</key>
	<string>macOS, productivity, focus, blocking, app</string>
	<key>Privacy</key>
	<string>https://selfcontrolapp.com/privacy.html</string>
	<key>Publisher</key>
	<string>Charlie Stigler</string>
</dict>
</plist>
