<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Open-source video editing software for Windows, macOS, and Linux.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>video editing, open-source, Windows, macOS, Linux</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Meltytech, LLC</string>
</dict>
</plist>
