<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Signiant App</string>
	<key>Description</key>
	<string>Signiant App is a file transfer software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>file transfer, macOS, software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Signiant Inc.</string>
</dict>
</plist>
