<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>SizeUp</string>
	<key>Description</key>
	<string>Window management utility for macOS</string>
	<key>Documentation</key>
	<string>https://www.irradiatedsoftware.com/sizeup/</string>
	<key>Keywords</key>
	<string>macOS, window management, utility</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Irradiated Software</string>
</dict>
</plist>
