<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>SketchUp</string>
	<key>Category</key>
	<string>3D &amp; Animation</string>
	<key>Description</key>
	<string>SketchUp is an intuitive 3D modeling software for architecture, interior design, and construction by Trimble, known for its ease of use.</string>
	<key>Documentation</key>
	<string>https://help.sketchup.com/en</string>
	<key>Homepage</key>
	<string>https://www.sketchup.com/</string>
	<key>Keywords</key>
	<string>SketchUp,3D modeling,architecture,design,Trimble,CAD</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.trimble.com/en/legal/trimble-privacy-statement</string>
	<key>Publisher</key>
	<string>Trimble Inc.</string>
</dict>
</plist>
