<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>SmartSVN is a graphical client for Subversion (SVN) designed for macOS.</string>
	<key>Documentation</key>
	<string>https://www.smartsvn.com/documentation/ or </string>
	<key>Keywords</key>
	<string>SVN, version control, macOS, client</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>WANdisco</string>
</dict>
</plist>
