<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.syntevo.smartgit</string>
	<key>AppName</key>
	<string>SmartGit</string>
	<key>Description</key>
	<string>SmartGit is a Git client with support for Gitflow and Pull Requests.</string>
	<key>Documentation</key>
	<string>https://www.syntevo.com/doc/</string>
	<key>Keywords</key>
	<string>Git, client, Gitflow, Pull Requests</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.syntevo.com/privacy/</string>
	<key>Publisher</key>
	<string>Syntevo GmbH</string>
</dict>
</plist>
