<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>SoapUI is a powerful API testing tool that allows you to test REST and SOAP APIs.</string>
	<key>Documentation</key>
	<string>https://www.soapui.org/docs/</string>
	<key>Keywords</key>
	<string>API testing, SoapUI, REST, SOAP</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>SmartBear</string>
</dict>
</plist>
