<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Sonic Pi</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Sonic Pi is a live coding music creation and performance tool that enables you to synthesize and create music using code, designed for education and live performance.</string>
	<key>Documentation</key>
	<string>https://sonic-pi.net/tutorial.html</string>
	<key>Homepage</key>
	<string>https://sonic-pi.net/</string>
	<key>Keywords</key>
	<string>Sonic Pi,live coding,music,programming,education,synthesis</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Sam Aaron</string>
</dict>
</plist>
