<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.soundly.Soundly</string>
	<key>AppName</key>
	<string>Soundly</string>
	<key>Description</key>
	<string>Soundly is a professional sound effects library and management tool for macOS.</string>
	<key>Documentation</key>
	<string>https://getsoundly.com/</string>
	<key>Keywords</key>
	<string>sound effects, library, macOS, professional</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://getsoundly.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Soundly</string>
</dict>
</plist>
