<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Apache Spark is a distributed computing system for big data processing.</string>
	<key>Documentation</key>
	<string>https://spark.apache.org/docs/latest/</string>
	<key>Keywords</key>
	<string>distributed computing, big data, analytics, processing</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Apache Software Foundation</string>
</dict>
</plist>
