<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.splashtop.splashtopBusiness.*</string>
	<key>AppName</key>
	<string>Splashtop Business</string>
	<key>Description</key>
	<string>Remote desktop software for macOS.</string>
	<key>Documentation</key>
	<string>https://www.splashtop.com/docs</string>
	<key>Homepage</key>
	<string>https://www.splashtop.com/business</string>
	<key>Keywords</key>
	<string>remote desktop, macOS, Splashtop, business</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.splashtop.com/privacy</string>
	<key>Publisher</key>
	<string>Splashtop Inc.</string>
</dict>
</plist>
