<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Music streaming service offering a vast library of tracks and personalized playlists.</string>
	<key>Documentation</key>
	<string>https://developer.spotify.com/documentation/web-api/</string>
	<key>Keywords</key>
	<string>music, streaming, playlists, albums</string>
	<key>Privacy</key>
	<string>https://www.spotify.com/us/legal/privacy-policy/</string>
	<key>Publisher</key>
	<string>Spotify</string>
</dict>
</plist>
