<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>SQLDeveloper</string>
	<key>Description</key>
	<string>SQLDeveloper is a powerful integrated development environment for Oracle Database on macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>SQL, Oracle, macOS, development, database</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Oracle Corporation</string>
</dict>
</plist>
