<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>STARFACE</string>
	<key>Description</key>
	<string>VoIP and UC software for macOS</string>
	<key>Documentation</key>
	<string>https://www.starface.com/en/documentation/</string>
	<key>Keywords</key>
	<string>VoIP, Unified Communications, macOS, Software, STARFACE</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.starface.com/en/privacy-policy/</string>
	<key>Publisher</key>
	<string>STARFACE</string>
</dict>
</plist>
