<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>nl.surfdrive</string>
	<key>AppName</key>
	<string>SURFdrive</string>
	<key>Description</key>
	<string>SURFdrive is a cloud storage service for macOS users.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>cloud storage, SURFdrive, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>SURFnet B.V.</string>
</dict>
</plist>
