<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Sync app for macOS allows users to seamlessly synchronize files and data across multiple devices.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Sync, macOS, files, data, synchronization</string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Sync</string>
</dict>
</plist>
