<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Synergy Baseball</string>
	<key>Description</key>
	<string>Synergy Baseball is a macOS software for managing and analyzing baseball data.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>baseball, macOS, data management, analytics</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Synergy Software</string>
</dict>
</plist>
