<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.synergysportstech.maceditor</string>
	<key>AppName</key>
	<string>Synergy Editor</string>
	<key>Description</key>
	<string>Synergy Editor is a powerful tool for code editing and collaboration.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>code editing, collaboration, software development</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Synergy Software</string>
</dict>
</plist>
