<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Tableau Reader is used to open and interact with packaged workbooks with extracted data sources that have been created in Tableau Desktop.</string>
	<key>Documentation</key>
	<string>https://www.tableau.com/support</string>
	<key>Keywords</key>
	<string>Tableau Reader,Viewer</string>
	<key>Privacy</key>
	<string>https://www.tableau.com/privacy</string>
	<key>Publisher</key>
	<string>Tableau Software</string>
</dict>
</plist>
