<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.tableausoftware.tableaudesktop</string>
	<key>AppName</key>
	<string>Tableau Desktop</string>
	<key>Description</key>
	<string>With Tableau Desktop, you can connect to a variety of data sources and start visualising data.</string>
	<key>Documentation</key>
	<string>https://tableau.com/</string>
	<key>Homepage</key>
	<string>https://www.tableau.com/products/desktop</string>
	<key>Keywords</key>
	<string>Data,Tableau Desktop</string>
	<key>PackageID</key>
	<string>com.tableausoftware.tableaudesktop</string>
	<key>Privacy</key>
	<string>https://www.tableau.com/privacy</string>
	<key>Publisher</key>
	<string>Tableau Software</string>
</dict>
</plist>
