<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>Tag Editor for macOS helps users organize and edit metadata tags for audio files efficiently.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Tag, Editor, macOS, Metadata</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Amvidia Limited</string>
</dict>
</plist>
