<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Tailscale</string>
	<key>Description</key>
	<string>Tailscale is a VPN service that makes the devices and applications you own accessible anywhere in the world, securely and effortlessly. It enables encrypted point-to-point connections using the open source WireGuard protocol, which means only devices on your private network can communicate with each other.</string>
	<key>Documentation</key>
	<string>https://tailscale.com/contact/support/</string>
	<key>Keywords</key>
	<string>IPN,Tailscale,VPN</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://tailscale.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Tailscale</string>
</dict>
</plist>
