<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Tembo is a powerful search tool for macOS, allowing users to quickly find files and applications.</string>
	<key>Documentation</key>
	<string>https://www.houdah.com/Tembo/</string>
	<key>Keywords</key>
	<string>macOS, search tool, files, applications</string>
	<key>Privacy</key>
	<string>https://www.houdah.com/privacy/</string>
	<key>Publisher</key>
	<string>Houdah Software</string>
</dict>
</plist>
