<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.googlecode.mactlmgr.tlu</string>
	<key>AppName</key>
	<string>TeX Live Utility</string>
	<key>Description</key>
	<string>TeX Live Utility is a macOS graphical user interface for managing TeX Live installations.</string>
	<key>Documentation</key>
	<string>https://www.tug.org/texlive/tlmgr.html</string>
	<key>Homepage</key>
	<string>https://github.com/amaxwell/tlutility</string>
	<key>Keywords</key>
	<string>TeX, macOS, utility, TeX Live, LaTeX</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>TeX Live Team</string>
</dict>
</plist>
