<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>A versatile text editor for macOS users.</string>
	<key>Documentation</key>
	<string>https://macromates.com/</string>
	<key>Keywords</key>
	<string>Text editor, macOS, coding, development</string>
	<key>Privacy</key>
	<string>https://macromates.com/privacy</string>
	<key>Publisher</key>
	<string>MacroMates</string>
</dict>
</plist>
