<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.shopify.tophat</string>
	<key>AppName</key>
	<string>tophat</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>tophat is an open-source developer tool by Shopify for testing and previewing mobile app builds directly on physical devices.</string>
	<key>Documentation</key>
	<string>https://github.com/shopify/tophat</string>
	<key>Homepage</key>
	<string>https://github.com/shopify/tophat</string>
	<key>Keywords</key>
	<string>tophat,Shopify,mobile testing,iOS,Android,developer tools</string>
	<key>PackageID</key>
	<string>com.shopify.tophat</string>
	<key>Privacy</key>
	<string>https://www.shopify.com/legal/privacy</string>
	<key>Publisher</key>
	<string>Shopify Inc.</string>
</dict>
</plist>
