<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>TorTalk</string>
	<key>Category</key>
	<string>Utilities</string>
	<key>Description</key>
	<string>TorTalk är ett hjälpmedel för text-till-tal som hjälper användare med lässvårigheter eller synnedsättning att ta del av text på datorn.</string>
	<key>Documentation</key>
	<string>https://tortalk.se/</string>
	<key>Homepage</key>
	<string>https://tortalk.se/</string>
	<key>Keywords</key>
	<string>TorTalk,text-till-tal,tillgänglighet,läshjälp,assistive technology</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://tortalk.se/privacy-policy/</string>
	<key>Publisher</key>
	<string>SayIT AB</string>
</dict>
</plist>
