<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.ameba.TRex</string>
	<key>AppName</key>
	<string>TRex</string>
	<key>Description</key>
	<string>TRex is a powerful network traffic generator tool for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>network, traffic, generator, tool</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Cisco</string>
</dict>
</plist>
