<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Trint</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>Trint is an AI-powered transcription and content collaboration platform that converts audio and video into searchable, editable, and shareable text.</string>
	<key>Documentation</key>
	<string>https://trint.com/help</string>
	<key>Homepage</key>
	<string>https://trint.com/</string>
	<key>Keywords</key>
	<string>Trint,transcription,AI,audio,video,content creation</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://trint.com/privacy-policy</string>
	<key>Publisher</key>
	<string>Trint Ltd.</string>
</dict>
</plist>
