<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.criminalbird.typeface.standalone</string>
	<key>AppName</key>
	<string>Typeface</string>
	<key>Description</key>
	<string>Typeface is a font manager for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>macOS, font manager</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Typeface</string>
</dict>
</plist>
