<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>nl.ultimaker.cura_UltiMaker_Cura</string>
	<key>AppName</key>
	<string>Ultimaker Cura</string>
	<key>Description</key>
	<string>UltiMaker Cura is a free and easy-to-use 3D printing software trusted by millions of users. You can fine-tune your 3D model with over 400 settings for the best slicing and printing results and it can be used even if you don’t have an Ultimaker 3D printer.</string>
	<key>Documentation</key>
	<string>https://github.com/Ultimaker/Cura/wiki</string>
	<key>Keywords</key>
	<string>3D,Cura,Printing,UltiMaker</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://ultimaker.com/legal/privacy-and-cookie-statement/</string>
	<key>Publisher</key>
	<string>Ultimaker</string>
</dict>
</plist>
