<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>UltraCompare is a file and folder compare/merge/sync application. UltraCompare allows you to compare files from multiple locations simultaneously and visually merge conflicts and differences.</string>
	<key>Documentation</key>
	<string>https://www.ultraedit.com/support/</string>
	<key>Keywords</key>
	<string>Compare,Merge,Sync,UltraCompare</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.ideracorp.com/legal/privacypolicy</string>
	<key>Publisher</key>
	<string>IDM Computer Solutions, Inc.</string>
</dict>
</plist>
