<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Umbrella Roaming Client is a software that extends protection to roaming devices.</string>
	<key>Documentation</key>
	<string>https://learn-umbrella.cisco.com/product-help/umbrella-roaming-client</string>
	<key>Keywords</key>
	<string>Security, Protection, Roaming Devices, Cisco</string>
	<key>Privacy</key>
	<string>https://www.cisco.com/c/en/us/about/legal/privacy-full.html</string>
	<key>Publisher</key>
	<string>Cisco</string>
</dict>
</plist>
