<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Unity Hub</string>
	<key>Description</key>
	<string>Unity Hub is a standalone application that streamlines your interaction with the Unity ecosystem.</string>
	<key>Documentation</key>
	<string>https://unity.com/support-services</string>
	<key>Keywords</key>
	<string>Unity,Unity Hub</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://unity.com/legal/privacy-policy</string>
	<key>Publisher</key>
	<string>Unity Technologies</string>
</dict>
</plist>
