<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.extensis.UniversalTypeClient</string>
	<key>AppName</key>
	<string>Universal Type Client</string>
	<key>Description</key>
	<string>Universal Type Client is a font management software for macOS.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>font, management, software, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Extensis</string>
</dict>
</plist>
