<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>com.theron.UnnaturalScrollWheels</string>
	<key>AppName</key>
	<string>UnnaturalScrollWheels</string>
	<key>Description</key>
	<string>Customize scroll wheel behavior on your computer for a smoother experience.</string>
	<key>Documentation</key>
	<string>https://unnaturalscrollwheels.com/docs</string>
	<key>Homepage</key>
	<string>https://github.com/ther0n/UnnaturalScrollWheels</string>
	<key>Keywords</key>
	<string>scroll, customization, smooth, computer</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://unnaturalscrollwheels.com/privacy-policy</string>
	<key>Publisher</key>
	<string>UnnaturalScrollWheels</string>
</dict>
</plist>
