<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>VirtualBox is a powerful x86 and AMD64/Intel64 virtualization product for enterprise as well as home use.</string>
	<key>Documentation</key>
	<string>https://www.virtualbox.org/</string>
	<key>Keywords</key>
	<string>Virtualization, Hypervisor, Virtual Machine, Desktop, Virtualization Software</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.virtualbox.org/wiki/Downloads</string>
	<key>Publisher</key>
	<string>Oracle Corporation</string>
</dict>
</plist>
