<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>VueScan</string>
	<key>Category</key>
	<string>Photos &amp; Media</string>
	<key>Description</key>
	<string>VueScan is a scanner application by Hamrick Software supporting over 6000 scanners, with advanced features for professionals and home users.</string>
	<key>Documentation</key>
	<string>https://www.hamrick.com/vuescan/vuescan.html</string>
	<key>Homepage</key>
	<string>https://www.hamrick.com/vuescan/</string>
	<key>Keywords</key>
	<string>VueScan,scanner,scanning,photo scanning,Hamrick,OCR</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.hamrick.com/privacy.html</string>
	<key>Publisher</key>
	<string>Hamrick Software</string>
</dict>
</plist>
