<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>io.wwdc.app</string>
	<key>AppName</key>
	<string>WWDC</string>
	<key>Description</key>
	<string>WWDC is Apple's annual conference for software developers.</string>
	<key>Documentation</key>
	<string>https://developer.apple.com/wwdc/</string>
	<key>Keywords</key>
	<string>Apple, macOS, conference, developers</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.apple.com/legal/privacy/</string>
	<key>Publisher</key>
	<string>Apple Inc.</string>
</dict>
</plist>
