<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Xcodes</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Xcodes is the best way to install and switch between multiple versions of Xcode on your Mac, simplifying Xcode version management for iOS and macOS developers.</string>
	<key>Documentation</key>
	<string>https://github.com/XcodesOrg/XcodesApp</string>
	<key>Homepage</key>
	<string>https://github.com/XcodesOrg/XcodesApp</string>
	<key>Keywords</key>
	<string>Xcodes,Xcode,iOS development,macOS development,version manager</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Xcodes Team</string>
</dict>
</plist>
