<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>The Xink Client for Active Directory (AD) simplifies email signature management in domain environments.</string>
	<key>Documentation</key>
	<string>https://support.xink.io/support/home</string>
	<key>Keywords</key>
	<string>AD,Active Directory,Email Signature,Xink,Xink Client</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.xink.io/privacy-policy/</string>
	<key>Publisher</key>
	<string>Xink</string>
</dict>
</plist>
