<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Xmplify</string>
	<key>Category</key>
	<string>Development &amp; Design</string>
	<key>Description</key>
	<string>Xmplify is a powerful XML editor for macOS that provides XML editing, validation, and transformation with XPath evaluation and XSLT support.</string>
	<key>Documentation</key>
	<string>https://xmplifyapp.com/release-notes/</string>
	<key>Homepage</key>
	<string>https://xmplifyapp.com/</string>
	<key>Keywords</key>
	<string>Xmplify,XML editor,XML,XPath,XSLT,validation</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://xmplifyapp.com/privacy/</string>
	<key>Publisher</key>
	<string>Xmplify</string>
</dict>
</plist>
