<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>Description</key>
	<string>For maximum security we always recommend protecting your user accounts with the YubiKey. However where an authenticator app is preferred, the Yubico Authenticator app allows you to store your credentials on a YubiKey and not on your mobile phone, so that your secrets cannot be compromised.</string>
	<key>Documentation</key>
	<string>https://support.yubico.com/hc/en-us</string>
	<key>Keywords</key>
	<string>Authenticator,Security</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.yubico.com/support/terms-conditions/privacy-notice/</string>
	<key>Publisher</key>
	<string>Yubico</string>
</dict>
</plist>
