<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Zen</string>
	<key>Category</key>
	<string>Web Browsers</string>
	<key>Description</key>
	<string>Zen Browser is a privacy-focused, open-source web browser based on Firefox with a modern interface and built-in features for distraction-free browsing.</string>
	<key>Documentation</key>
	<string>https://docs.zen-browser.app/</string>
	<key>Homepage</key>
	<string>https://zen-browser.app/</string>
	<key>Keywords</key>
	<string>Zen Browser,privacy,Firefox,open source,browser,focus</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://zen-browser.app/privacy-policy</string>
	<key>Publisher</key>
	<string>Zen Browser</string>
</dict>
</plist>
