<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Zettlr</string>
	<key>Category</key>
	<string>Productivity</string>
	<key>Description</key>
	<string>Zettlr is a free and open-source markdown editor for researchers, academics, and writers, supporting the Zettelkasten method and academic citation management.</string>
	<key>Documentation</key>
	<string>https://docs.zettlr.com/</string>
	<key>Homepage</key>
	<string>https://www.zettlr.com/</string>
	<key>Keywords</key>
	<string>Zettlr,markdown,Zettelkasten,academic writing,notes,research</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.zettlr.com/privacy</string>
	<key>Publisher</key>
	<string>Hendrik Erz</string>
</dict>
</plist>
