<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Zipwhip is a messaging platform that allows users to send and receive SMS messages from their computer or mobile device.</string>
	<key>Documentation</key>
	<string>https://www.zipwhip.com/</string>
	<key>Keywords</key>
	<string>messaging, SMS, communication, software, macOS</string>
	<key>Privacy</key>
	<string>https://www.zipwhip.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Zipwhip</string>
</dict>
</plist>
