<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Zoho WorkDrive TrueSync</string>
	<key>Description</key>
	<string>Zoho WorkDrive TrueSync is a file synchronization tool for macOS.</string>
	<key>Documentation</key>
	<string>https://www.zoho.com/workdrive/help/</string>
	<key>Keywords</key>
	<string>Zoho, WorkDrive, TrueSync, file synchronization, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string>https://www.zoho.com/privacy.html</string>
	<key>Publisher</key>
	<string>Zoho Corporation</string>
</dict>
</plist>
