<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Zoom Outlook Plugin Removal</string>
	<key>Description</key>
	<string>Tool for completely removing Zoom Outlook Plugin from macOS systems.</string>
	<key>Documentation</key>
	<string></string>
	<key>Keywords</key>
	<string>Zoom, Outlook, Plugin, Removal, macOS</string>
	<key>PackageID</key>
	<string></string>
	<key>Privacy</key>
	<string></string>
	<key>Publisher</key>
	<string>Zoom Video Communications, Inc.</string>
</dict>
</plist>
