<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string></string>
	<key>AppName</key>
	<string>Zulu JDK FX 17</string>
	<key>Description</key>
	<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems. This build includes OpenFX.</string>
	<key>Documentation</key>
	<string>https://docs.azul.com/core</string>
	<key>Keywords</key>
	<string>Azul,JDK,Java,Java Development Toolkit,Zulu</string>
	<key>PackageID</key>
	<string>com.azulsystems.zulufx.17</string>
	<key>Privacy</key>
	<string>https://www.azul.com/privacy-policy/</string>
	<key>Publisher</key>
	<string>Azul Systems, Inc.</string>
</dict>
</plist>
